# Creating wildfire dataset for any country using global satellite data #
## We are using country USA and state California as our target country and region in this example ##

## Resources: ##
    - https://medium.com/ibm-data-ai/predicting-australian-wildfires-with-weather-forecast-data-8d1cc983c863
    - https://github.com/Call-for-Code/Spot-Challenge-Wildfires
    - https://h2o.ai/wildfire/
    - https://github.com/h2oai/challenge-wildfires/blob/main/notebook/DataPreparation.ipynb
    - https://github.com/mapbox/mapboxgl-jupyter
    - https://www.bigendiandata.com/2017-06-27-Mapping_in_Jupyter/

![modpas-nasa](https://github.com/prodramp/wildfire/blob/main/images/modaps-nasa.png?raw=true)

## Data Collection ##
- Please Visit https://firms.modaps.eosdis.nasa.gov/download/ to download both MODIS (2000-2020) and VIIRS (2012-2020) datasets based on each country wildfire data
  - MODIS - https://firms.modaps.eosdis.nasa.gov/country/
  - VIIRS - https://firms.modaps.eosdis.nasa.gov/country/
  - Active Fire (24 Hours, 48 Hours, 7 days)-  https://firms.modaps.eosdis.nasa.gov/usfs/active_fire/

<div style="max-width:400px;">
    <img src="https://github.com/prodramp/wildfire/blob/main/images/disclaimer.png?raw=true" size="400px"/>
</div>

In [1]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
import random
InteractiveShell.ast_node_interactivity = "all"
import os
from datetime import datetime
import plotly.express as px
import glob
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
!ls -l ../

total 8
-rw-r--r--   1 avkash  staff  1044 Mar 26 15:53 README.md
drwxr-xr-x@ 19 avkash  staff   608 Mar 27 08:03 dataset
drwxr-xr-x   6 avkash  staff   192 Mar 26 08:03 images
drwxr-xr-x  10 avkash  staff   320 Mar 27 08:20 ml
drwxr-xr-x@  5 avkash  staff   160 Mar 25 15:32 wildfire-data
drwxr-xr-x   9 avkash  staff   288 Mar 26 14:35 wildfire-data-streamlit
drwxr-xr-x@ 24 avkash  staff   768 Mar 25 15:29 zips_modis
drwxr-xr-x@ 13 avkash  staff   416 Mar 25 15:26 zips_viirs

In [3]:
! ls -lh ../wildfire-data

total 0
drwxr-xr-x@ 24 avkash  staff   768B Mar 25 15:28 modis
drwxr-xr-x@ 13 avkash  staff   416B Mar 25 15:26 viirs-snpp

In [4]:
! ls -lh ../wildfire-data/modis

total 0
drwxr-xr-x@ 165 avkash  staff   5.2K Feb 12  2019 2000
drwxr-xr-x@ 199 avkash  staff   6.2K Nov 16 09:06 2001
drwxr-xr-x@ 201 avkash  staff   6.3K Nov 16 09:06 2002
drwxr-xr-x@ 206 avkash  staff   6.4K Nov 16 09:06 2003
drwxr-xr-x@ 204 avkash  staff   6.4K Nov 16 09:06 2004
drwxr-xr-x@ 210 avkash  staff   6.6K Nov 16 09:06 2005
drwxr-xr-x@ 204 avkash  staff   6.4K Nov 16 09:06 2006
drwxr-xr-x@ 210 avkash  staff   6.6K Nov 16 09:06 2007
drwxr-xr-x@ 207 avkash  staff   6.5K Nov 16 09:06 2008
drwxr-xr-x@ 207 avkash  staff   6.5K Nov 16 09:06 2009
drwxr-xr-x@ 205 avkash  staff   6.4K Nov 16 09:06 2010
drwxr-xr-x@ 203 avkash  staff   6.3K Nov 16 09:06 2011
drwxr-xr-x@ 206 avkash  staff   6.4K Nov 16 09:06 2012
drwxr-xr-x@ 209 avkash  staff   6.5K Nov 16 09:06 2013
drwxr-xr-x@ 206 avkash  staff   6.4K Nov 16 09:06 2014
drwxr-xr-x@ 211 avkash  staff   6.6K Nov 16 09:06 2015
drwxr-xr-x@ 209 avkash  staff   6.5K Nov 16 09:06 2016
drwxr-xr-x@ 207 avkash  staff   6.5K Nov 16 09:06 2017
drwxr-xr-x@ 208 avkash  staff   6.5K Nov 16 09:06 2018
drwxr-xr-x@ 204 avkash  staff   6.4K Nov 16 09:06 2019
drwxr-xr-x@ 213 avkash  staff   6.7K Nov 16 09:06 2020

In [5]:
! ls -lh ../wildfire-data/viirs-snpp

total 0
drwxr-xr-x@ 222 avkash  staff   6.9K Nov 16 09:04 2012
drwxr-xr-x@ 225 avkash  staff   7.0K Nov 16 09:04 2013
drwxr-xr-x@ 216 avkash  staff   6.8K Nov 16 09:04 2014
drwxr-xr-x@ 218 avkash  staff   6.8K Nov 16 09:04 2015
drwxr-xr-x@ 222 avkash  staff   6.9K Nov 16 09:04 2016
drwxr-xr-x@ 218 avkash  staff   6.8K Nov 16 09:04 2017
drwxr-xr-x@ 221 avkash  staff   6.9K Nov 16 09:04 2018
drwxr-xr-x@ 219 avkash  staff   6.8K Nov 16 09:04 2019
drwxr-xr-x@ 220 avkash  staff   6.9K Nov 16 09:04 2020
drwxr-xr-x@ 218 avkash  staff   6.8K Jan 27 05:18 2021

In [126]:
all_csv_files = glob.glob('../wildfire-data/**/*.csv', recursive=True)

In [127]:
all_csv_files

['../wildfire-data/MODIS-01012022-03252022-United_States.csv',
 '../wildfire-data/VIIRS-SUOMI-01012022-03252022-United_States.csv',
 '../wildfire-data/VIIRS-J1-01012022-03252022-United_States.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Reunion.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Barbados.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Greenland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Burundi.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Nepal.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Moldova.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Papua_New_Guinea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cook_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Belgium.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ethiopia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cuba.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Democratic_Republic_of_the_Congo.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Timor-Leste.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sint_Maarten.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mauritania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Zimbabwe.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Benin.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Aland_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Azerbaijan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Trinidad_and_Tobago.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Dem_Rep_Korea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Niue.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Jersey.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Gabon.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_States.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Switzerland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sao_Tome_and_Principe.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Syria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Nigeria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Libya.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Burkina_Faso.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Senegal.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Botswana.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Belize.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Tonga.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Norway.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mexico.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Comoros.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Slovakia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Slovenia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Martinique.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guatemala.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Antigua_and_Barbuda.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Iran.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Hong_Kong.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Vincent_and_the_Grenadines.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Luxembourg.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Dominican_Republic.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Heard_I_and_McDonald_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Faeroe_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Grenada.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ecuador.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Brunei_Darussalam.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Venezuela.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bangladesh.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_The_Gambia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Jordan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Argentina.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Malawi.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kenya.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bulgaria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Samoa.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Pakistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ghana.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Lesotho.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bhutan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_China.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Czech_Republic.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Namibia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Jamaica.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Hungary.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Iceland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Oman.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Anguilla.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Liberia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Afghanistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Equatorial_Guinea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guyana.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bolivia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Canada.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Central_African_Republic.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Paraguay.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guam.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mongolia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Armenia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Lao_PDR.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Costa_Rica.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Portugal.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Thailand.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kuwait.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Isle_of_Man.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Dominica.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_France.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Suriname.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cote_d_Ivoire.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Algeria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Serbia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_El_Salvador.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Curacao.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_French_Southern_and_Antarctic_Lands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Israel.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Latvia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Estonia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Uganda.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Australia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guinea-Bissau.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Aruba.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Turkmenistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Maldives.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Uzbekistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Tunisia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_South_Africa.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ukraine.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_New_Zealand.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_South_Sudan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Georgia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Italy.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_British_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bahamas.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mauritius.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sweden.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Puerto_Rico.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Philippines.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Albania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kazakhstan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Greece.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Republic_of_Korea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Brazil.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Lebanon.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Netherlands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Palau.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cameroon.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Turkey.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Eritrea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_French_Polynesia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Denmark.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_India.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Belarus.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mali.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Nicaragua.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_Arab_Emirates.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Romania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Panama.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Malaysia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Morocco.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Northern_Mariana_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Vietnam.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Macedonia_Former_Yugoslav_Republic_of.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Uruguay.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cape_Verde.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ireland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Niger.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Solomon_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Turks_and_Caicos_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Tajikistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kyrgyzstan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Finland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guadeloupe.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Egypt.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Croatia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Malta.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Kitts_and_Nevis.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Antarctica.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Togo.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Japan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Pierre_and_Miquelon.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cyprus.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Chile.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sierra_Leone.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cayman_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_Kingdom.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Vanuatu.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Tanzania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Lucia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Germany.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Falkland_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Angola.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cambodia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Djibouti.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Fiji.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saudi_Arabia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_New_Caledonia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint-Martin.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Zambia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Indonesia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Lithuania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Yemen.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Seychelles.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Colombia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guernsey.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Qatar.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mozambique.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Helena.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Poland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Singapore.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sudan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Russian_Federation.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kosovo.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Taiwan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Palestine.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Swaziland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bosnia_and_Herzegovina.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Honduras.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Chad.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kiribati.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Montserrat.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Haiti.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Montenegro.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bahrain.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Rwanda.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Madagascar.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Federated_States_of_Micronesia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sri_Lanka.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Spain.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guinea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_French_Guiana.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Myanmar.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Peru.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Somalia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Republic_of_Congo.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Austria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Iraq.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mayotte.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Guam.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Venezuela.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Mauritania.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Barbados.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Argentina.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Myanmar.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Azerbaijan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Somalia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Guatemala.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Hong_Kong.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Latvia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Ethiopia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Austria.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Israel.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Uganda.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Mayotte.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Serbia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Zimbabwe.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Democratic_Republic_of_the_Congo.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Kuwait.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_France.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Republic_of_Congo.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Bahrain.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Sao_Tome_and_Principe.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Switzerland.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Guyana.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Guinea-Bissau.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Cayman_Islands.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_Kingdom.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Canada.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Saint-Martin.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Saudi_Arabia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Dominican_Republic.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Northern_Mariana_Islands.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_China.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Luxembourg.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_Arab_Emirates.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Bangladesh.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Botswana.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Ghana.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Timor-Leste.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Turks_and_Caicos_Islands.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Kenya.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_The_Gambia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Slovenia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Slovakia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Saint_Vincent_and_the_Grenadines.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Oman.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Saint_Helena.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Germany.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Bhutan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_French_Polynesia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Martinique.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Cote_d_Ivoire.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Greenland.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Jordan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Pakistan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Croatia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Malawi.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Bulgaria.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_South_Sudan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_New_Zealand.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Trinidad_and_Tobago.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Tonga.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Libya.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Australia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Syria.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Vanuatu.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Heard_I_and_McDonald_Islands.csv',

In [128]:
len(all_csv_files)

6434

In [129]:
type(all_csv_files)

list

In [130]:
all_us_files = list(filter(lambda k: 'United_States' in k, all_csv_files))

In [131]:
all_us_files

['../wildfire-data/MODIS-01012022-03252022-United_States.csv',
 '../wildfire-data/VIIRS-SUOMI-01012022-03252022-United_States.csv',
 '../wildfire-data/VIIRS-J1-01012022-03252022-United_States.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_States.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_States.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2015/viirs-snpp_2015_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2015/viirs-snpp_2015_United_States.csv',
 '../wildfire-data/viirs-snpp/2015/viirs-snpp_2015_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/viirs-snpp/2012/viirs-snpp_2012_United_States.csv',
 '../wildfire-data/viirs-snpp/2012/viirs-snpp_2012_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2012/viirs-snpp_2012_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/viirs-snpp/2017/viirs-snpp_2017_United_States.csv',
 '../wildfire-data/viirs-snpp/2017/viirs-snpp_2017_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2019/viirs-snpp_2019_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2019/viirs-snpp_2019_United_States.csv',
 '../wildfire-data/viirs-snpp/2021/viirs-snpp_2021_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/viirs-snpp/2021/viirs-snpp_2021_United_States.csv',
 '../wildfire-data/viirs-snpp/2021/viirs-snpp_2021_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States.csv',
 '../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2018/viirs-snpp_2018_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2018/viirs-snpp_2018_United_States.csv',
 '../wildfire-data/viirs-snpp/2016/viirs-snpp_2016_United_States.csv',
 '../wildfire-data/modis/2013/modis_2013_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2013/modis_2013_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2013/modis_2013_United_States.csv',
 '../wildfire-data/modis/2014/modis_2014_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2014/modis_2014_United_States.csv',
 '../wildfire-data/modis/2015/modis_2015_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2015/modis_2015_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2015/modis_2015_United_States.csv',
 '../wildfire-data/modis/2012/modis_2012_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2012/modis_2012_United_States.csv',
 '../wildfire-data/modis/2008/modis_2008_United_States.csv',
 '../wildfire-data/modis/2008/modis_2008_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2008/modis_2008_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2001/modis_2001_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2001/modis_2001_United_States.csv',
 '../wildfire-data/modis/2001/modis_2001_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2006/modis_2006_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2006/modis_2006_United_States.csv',
 '../wildfire-data/modis/2006/modis_2006_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2007/modis_2007_United_States.csv',
 '../wildfire-data/modis/2007/modis_2007_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2007/modis_2007_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2000/modis_2000_United_States.csv',
 '../wildfire-data/modis/2009/modis_2009_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2009/modis_2009_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2009/modis_2009_United_States.csv',
 '../wildfire-data/modis/2017/modis_2017_United_States.csv',
 '../wildfire-data/modis/2017/modis_2017_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2010/modis_2010_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2010/modis_2010_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2010/modis_2010_United_States.csv',
 '../wildfire-data/modis/2019/modis_2019_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2019/modis_2019_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2019/modis_2019_United_States.csv',
 '../wildfire-data/modis/2020/modis_2020_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2020/modis_2020_United_States.csv',
 '../wildfire-data/modis/2020/modis_2020_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2018/modis_2018_United_States.csv',
 '../wildfire-data/modis/2018/modis_2018_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2018/modis_2018_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2011/modis_2011_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2011/modis_2011_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2011/modis_2011_United_States.csv',
 '../wildfire-data/modis/2016/modis_2016_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2016/modis_2016_United_States.csv',
 '../wildfire-data/modis/2005/modis_2005_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2005/modis_2005_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2005/modis_2005_United_States.csv',
 '../wildfire-data/modis/2002/modis_2002_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2002/modis_2002_United_States.csv',
 '../wildfire-data/modis/2002/modis_2002_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2003/modis_2003_United_States.csv',
 '../wildfire-data/modis/2003/modis_2003_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2003/modis_2003_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2004/modis_2004_United_States.csv',
 '../wildfire-data/modis/2004/modis_2004_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2004/modis_2004_United_States_Virgin_Islands.csv']

In [132]:
all_us_files = list(filter(lambda k: 'United_States.csv' in k, all_csv_files))

In [133]:
all_us_files

['../wildfire-data/MODIS-01012022-03252022-United_States.csv',
 '../wildfire-data/VIIRS-SUOMI-01012022-03252022-United_States.csv',
 '../wildfire-data/VIIRS-J1-01012022-03252022-United_States.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_States.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_States.csv',
 '../wildfire-data/viirs-snpp/2015/viirs-snpp_2015_United_States.csv',
 '../wildfire-data/viirs-snpp/2012/viirs-snpp_2012_United_States.csv',
 '../wildfire-data/viirs-snpp/2017/viirs-snpp_2017_United_States.csv',
 '../wildfire-data/viirs-snpp/2019/viirs-snpp_2019_United_States.csv',
 '../wildfire-data/viirs-snpp/2021/viirs-snpp_2021_United_States.csv',
 '../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States.csv',
 '../wildfire-data/viirs-snpp/2018/viirs-snpp_2018_United_States.csv',
 '../wildfire-data/viirs-snpp/2016/viirs-snpp_2016_United_States.csv',
 '../wildfire-data/modis/2013/modis_2013_United_States.csv',
 '../wildfire-data/modis/2014/modis_2014_United_States.csv',
 '../wildfire-data/modis/2015/modis_2015_United_States.csv',
 '../wildfire-data/modis/2012/modis_2012_United_States.csv',
 '../wildfire-data/modis/2008/modis_2008_United_States.csv',
 '../wildfire-data/modis/2001/modis_2001_United_States.csv',
 '../wildfire-data/modis/2006/modis_2006_United_States.csv',
 '../wildfire-data/modis/2007/modis_2007_United_States.csv',
 '../wildfire-data/modis/2000/modis_2000_United_States.csv',
 '../wildfire-data/modis/2009/modis_2009_United_States.csv',
 '../wildfire-data/modis/2017/modis_2017_United_States.csv',
 '../wildfire-data/modis/2010/modis_2010_United_States.csv',
 '../wildfire-data/modis/2019/modis_2019_United_States.csv',
 '../wildfire-data/modis/2020/modis_2020_United_States.csv',
 '../wildfire-data/modis/2018/modis_2018_United_States.csv',
 '../wildfire-data/modis/2011/modis_2011_United_States.csv',
 '../wildfire-data/modis/2016/modis_2016_United_States.csv',
 '../wildfire-data/modis/2005/modis_2005_United_States.csv',
 '../wildfire-data/modis/2002/modis_2002_United_States.csv',
 '../wildfire-data/modis/2003/modis_2003_United_States.csv',
 '../wildfire-data/modis/2004/modis_2004_United_States.csv']

In [134]:
df_viirs__su_2022 = pd.read_csv('../wildfire-data/VIIRS-SUOMI-01012022-03252022-United_States.csv')

In [135]:
df_viirs__su_2022

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,33.44813,-88.56963,309.21,0.48,0.40,2022-01-01,726,N,VIIRS,n,2.0NRT,290.56,1.52,N
1,32.60958,-82.26559,302.85,0.41,0.37,2022-01-01,726,N,VIIRS,n,2.0NRT,286.26,0.76,N
2,33.99229,-88.47186,317.08,0.49,0.40,2022-01-01,726,N,VIIRS,n,2.0NRT,284.51,1.85,N
3,33.99599,-88.47121,319.58,0.49,0.40,2022-01-01,726,N,VIIRS,n,2.0NRT,284.82,1.85,N
4,33.01337,-79.88333,306.75,0.50,0.41,2022-01-01,726,N,VIIRS,n,2.0NRT,288.94,1.42,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87924,19.41079,-155.27417,367.00,0.49,0.65,2022-03-25,2248,N,VIIRS,h,2.0NRT,325.02,251.28,D
87925,19.40383,-155.27739,367.00,0.49,0.65,2022-03-25,2248,N,VIIRS,h,2.0NRT,321.21,124.47,D
87926,19.40281,-155.28198,367.00,0.49,0.65,2022-03-25,2248,N,VIIRS,h,2.0NRT,327.60,106.01,D
87927,19.40777,-155.28777,343.11,0.49,0.65,2022-03-25,2248,N,VIIRS,n,2.0NRT,301.96,107.44,D
87928,19.40876,-155.28329,367.00,0.49,0.65,2022-03-25,2248,N,VIIRS,l,2.0NRT,345.56,107.44,D

In [136]:
df_viirs_j1_2022 = pd.read_csv('../wildfire-data/VIIRS-J1-01012022-03252022-United_States.csv')

In [137]:
df_viirs_j1_2022

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,35.59524,-79.47195,297.12,0.54,0.51,2022-01-01,631,1,VIIRS,n,2.0NRT,267.70,0.76,N
1,28.29930,-82.19985,303.28,0.33,0.55,2022-01-01,633,1,VIIRS,n,2.0NRT,287.66,0.15,N
2,28.40821,-82.21400,298.01,0.33,0.55,2022-01-01,633,1,VIIRS,n,2.0NRT,287.89,0.25,N
3,28.70181,-82.04972,306.11,0.32,0.55,2022-01-01,633,1,VIIRS,n,2.0NRT,288.52,0.51,N
4,31.15173,-87.98898,304.21,0.77,0.78,2022-01-01,633,1,VIIRS,n,2.0NRT,287.80,1.96,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89694,19.41052,-155.28645,352.58,0.39,0.36,2022-03-25,2337,1,VIIRS,n,2.0NRT,314.70,136.79,D
89695,19.40829,-155.27849,367.00,0.39,0.36,2022-03-25,2337,1,VIIRS,h,2.0NRT,345.27,57.33,D
89696,19.40110,-155.28111,348.82,0.39,0.36,2022-03-25,2337,1,VIIRS,n,2.0NRT,316.51,50.50,D
89697,19.40443,-155.28163,351.30,0.39,0.36,2022-03-25,2337,1,VIIRS,l,2.0NRT,338.97,50.50,D
89698,19.41107,-155.28275,367.00,0.39,0.36,2022-03-25,2337,1,VIIRS,l,2.0NRT,330.64,57.33,D

In [138]:
df_modis_2022 = pd.read_csv('../wildfire-data/MODIS-01012022-03252022-United_States.csv')

In [139]:
df_modis_2022

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,19.41736,-155.27985,333.19,1.39,1.17,2022-01-01,1223,Aqua,MODIS,100,6.1NRT,290.13,57.45,N
1,19.39973,-155.27629,301.55,1.40,1.17,2022-01-01,1223,Aqua,MODIS,28,6.1NRT,286.69,9.62,N
2,19.40192,-155.28940,309.17,1.39,1.17,2022-01-01,1223,Aqua,MODIS,77,6.1NRT,286.69,17.35,N
3,19.41009,-155.27425,391.88,1.40,1.17,2022-01-01,1223,Aqua,MODIS,100,6.1NRT,299.67,340.62,N
4,19.41229,-155.28754,420.54,1.39,1.17,2022-01-01,1223,Aqua,MODIS,100,6.1NRT,298.81,651.82,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26458,19.40477,-155.29367,409.81,1.00,1.00,2022-03-25,2346,Aqua,MODIS,100,6.1NRT,325.46,301.59,D
26459,19.41502,-155.28574,327.75,1.00,1.00,2022-03-25,2346,Aqua,MODIS,55,6.1NRT,311.22,14.56,D
26460,19.39722,-155.28285,372.80,1.00,1.00,2022-03-25,2346,Aqua,MODIS,100,6.1NRT,315.68,111.31,D
26461,19.39587,-155.29224,339.47,1.00,1.00,2022-03-25,2346,Aqua,MODIS,89,6.1NRT,311.52,26.62,D
26462,19.40612,-155.28429,452.11,1.00,1.00,2022-03-25,2346,Aqua,MODIS,100,6.1NRT,400.07,724.08,D

In [140]:
df_viirs = pd.read_csv('../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States.csv')

/Users/avkash/anaconda3/envs/python39/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [141]:
df_viirs = pd.read_csv('../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States.csv', low_memory=False)

In [142]:
df_viirs

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type
0,46.730213,-92.075386,303.31,0.56,0.52,2020-01-01,727,N,VIIRS,n,1,264.04,1.43,N,3
1,46.729069,-92.077477,301.76,0.56,0.52,2020-01-01,727,N,VIIRS,n,1,263.05,1.27,N,2
2,40.721516,-84.126244,323.46,0.39,0.36,2020-01-01,728,N,VIIRS,n,1,268.47,1.80,N,2
3,41.639717,-87.130882,300.05,0.45,0.39,2020-01-01,728,N,VIIRS,n,1,268.17,1.23,N,3
4,41.619049,-87.328514,297.25,0.46,0.39,2020-01-01,728,N,VIIRS,n,1,268.34,0.82,N,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672445,19.409372,-155.295761,332.17,0.49,0.49,2020-12-31,2306,N,VIIRS,n,1,290.31,3.08,1,0
672446,19.402180,-155.285187,367.00,0.49,0.49,2020-12-31,2306,N,VIIRS,l,1,286.75,26.13,1,0
672447,19.404821,-155.271347,350.90,0.49,0.49,2020-12-31,2306,N,VIIRS,n,1,288.63,67.31,1,0
672448,19.399593,-155.298752,326.91,0.49,0.49,2020-12-31,2306,N,VIIRS,n,1,285.83,4.16,1,0
672449,19.397781,-155.284149,341.50,0.49,0.49,2020-12-31,2306,N,VIIRS,n,1,284.08,6.20,1,0

In [143]:
df_viirs['satellite'].unique()

array(['N'], dtype=object)

In [144]:
df_viirs['instrument'].unique()

array(['VIIRS'], dtype=object)

In [145]:
type(df_viirs.confidence[0])

str

In [146]:
isinstance(df_viirs.confidence[0], str)

True

In [147]:
df_viirs.confidence.unique()

array(['n', 'h', 'l'], dtype=object)

In [148]:
df_modis = pd.read_csv('../wildfire-data/modis/2020/modis_2020_United_States.csv')

In [149]:
df_modis

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,31.8349,-83.0561,306.7,1.4,1.2,2020-01-01,324,Terra,MODIS,69,6.03,277.6,18.9,N,0
1,36.3562,-76.8050,300.2,1.2,1.1,2020-01-01,325,Terra,MODIS,20,6.03,278.9,10.2,N,0
2,33.4178,-110.8616,321.5,1.0,1.0,2020-01-01,920,Aqua,MODIS,100,6.03,271.8,24.9,N,2
3,41.4810,-90.8294,310.0,1.0,1.0,2020-01-01,1704,Terra,MODIS,69,6.03,276.5,13.8,D,0
4,38.6973,-90.1281,311.7,1.1,1.0,2020-01-01,1705,Terra,MODIS,54,6.03,282.3,14.1,D,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153843,38.7099,-122.8631,316.1,1.1,1.1,2020-12-31,2131,Aqua,MODIS,76,6.03,285.8,18.6,D,0
153844,39.7121,-122.2936,300.4,1.2,1.1,2020-12-31,2131,Aqua,MODIS,35,6.03,286.2,5.6,D,0
153845,37.7988,-121.1489,301.3,1.3,1.1,2020-12-31,2131,Aqua,MODIS,46,6.03,281.4,8.6,D,0
153846,39.1593,-122.9303,308.7,1.1,1.1,2020-12-31,2131,Aqua,MODIS,67,6.03,283.3,13.1,D,0
153847,39.7513,-122.3066,322.3,1.2,1.1,2020-12-31,2131,Aqua,MODIS,82,6.03,287.0,26.8,D,0

In [150]:
df_modis['satellite'].unique()

array(['Terra', 'Aqua'], dtype=object)

In [151]:
df_modis['instrument'].unique()

array(['MODIS'], dtype=object)

In [152]:
type(df_modis['confidence'][0])

numpy.int64

In [153]:
df_modis['confidence'].unique()

array([ 69,  20, 100,  54,  38,  60,   0,  70,  78,  46,  57,  83,  82,
        74,  79,  86,  53,  72,  41,  35,  73,  66,  84,  59,  55,  31,
        45,  50,  51,  47,  71,  63,  24,  36,  48,  80,  62,  49,  65,
        75,  67,  52,  58,  56,  93,  94,  64,  68,  61,  85,  90,  81,
        40,  88,  42,  97,  96,  33,  91,  87,  77,  76,  39,  44,  95,
        37,  89,  98,  30,  99,  21,  92,  29,  16,  17,  26,  32,  34,
        43,  25,  22,  19,  28,   9,  27,  23,  15,  13,  14,  18,  11,
        10,   8,  12,   6,   4,   7,   3,   5,   2,   1])

In [154]:
# Taken this idea from the H2O.ai wild fire competition github repo and changed it meet the local need
rows = []
fire_df = []
row_sum = 0
for f in tqdm(all_us_files):
    df = pd.read_csv(f, parse_dates=['acq_time'], low_memory=False) 
    csv_name = f.split('/')[-1]
    row = [
        f, csv_name, df.shape[0], df.shape[1], df.acq_date.min(), df.acq_date.max(),
        df.satellite.unique(), df.instrument.max(), df.version.max(),
        df.latitude.nunique(), df.longitude.nunique(),
        df.confidence.nunique(), df.satellite.nunique(), df.acq_date.nunique()
    ]
    if isinstance(df.confidence[0], str):
        df.confidence = df.confidence.replace({'l': 0, 'n': 50, 'h': 100})
    rows.append(row)
    row_sum = row_sum + df.shape[0]
    fire_df.append(df)
cols = [
    'path', 'csv', 'rows', 'cols', 'start', 'end',
    'satellite', 'instrument', 'version',
    'lats', 'lons', 'confs', 'sats', 'days'
]
filestats = pd.DataFrame(rows, columns=cols)
filestats.sort_values(by=['start', 'instrument'])
print("Total Rows: " + str(row_sum))

100%|███████████████████████████████████████████████████| 34/34 [00:12<00:00,  2.71it/s]

,path,csv,rows,cols,start,end,satellite,instrument,version,lats,lons,confs,sats,days
21,../wildfire-data/modis/2000/modis_2000_United_...,modis_2000_United_States.csv,3781,15,2000-11-01,2000-12-31,[Terra],MODIS,6.2,3720,3712,96,1,61
18,../wildfire-data/modis/2001/modis_2001_United_...,modis_2001_United_States.csv,44941,15,2001-01-01,2001-12-31,[Terra],MODIS,6.2,37881,40596,101,1,347
31,../wildfire-data/modis/2002/modis_2002_United_...,modis_2002_United_States.csv,79715,15,2002-01-01,2002-12-31,"[Terra, Aqua]",MODIS,6.2,61851,68094,101,2,355
32,../wildfire-data/modis/2003/modis_2003_United_...,modis_2003_United_States.csv,114471,15,2003-01-01,2003-12-31,"[Terra, Aqua]",MODIS,6.2,81630,93777,101,2,365
33,../wildfire-data/modis/2004/modis_2004_United_...,modis_2004_United_States.csv,158385,15,2004-01-01,2004-12-31,"[Terra, Aqua]",MODIS,6.2,96626,121487,101,2,365
30,../wildfire-data/modis/2005/modis_2005_United_...,modis_2005_United_States.csv,171160,15,2005-01-01,2005-12-31,"[Terra, Aqua]",MODIS,6.2,110486,135665,101,2,365
19,../wildfire-data/modis/2006/modis_2006_United_...,modis_2006_United_States.csv,126737,15,2006-01-01,2006-12-31,"[Terra, Aqua]",MODIS,6.2,88916,103617,101,2,365
20,../wildfire-data/modis/2007/modis_2007_United_...,modis_2007_United_States.csv,142420,15,2007-01-01,2007-12-31,"[Terra, Aqua]",MODIS,6.2,96108,109694,101,2,365
17,../wildfire-data/modis/2008/modis_2008_United_...,modis_2008_United_States.csv,119797,15,2008-01-01,2008-12-31,"[Terra, Aqua]",MODIS,6.2,83666,96357,101,2,366
22,../wildfire-data/modis/2009/modis_2009_United_...,modis_2009_United_States.csv,115174,15,2009-01-01,2009-12-31,"[Terra, Aqua]",MODIS,6.2,83904,96681,101,2,365
24,../wildfire-data/modis/2010/modis_2010_United_...,modis_2010_United_States.csv,98322,15,2010-01-01,2010-12-31,"[Terra, Aqua]",MODIS,6.2,74455,83332,101,2,365
28,../wildfire-data/modis/2011/modis_2011_United_...,modis_2011_United_States.csv,123867,15,2011-01-01,2011-12-31,"[Terra, Aqua]",MODIS,6.2,82884,100149,101,2,365
16,../wildfire-data/modis/2012/modis_2012_United_...,modis_2012_United_States.csv,137295,15,2012-01-01,2012-12-31,"[Terra, Aqua]",MODIS,6.2,92325,108739,101,2,366
6,../wildfire-data/viirs-snpp/2012/viirs-snpp_20...,viirs-snpp_2012_United_States.csv,531867,15,2012-01-20,2012-12-31,[N],VIIRS,1,480863,452136,3,1,346
13,../wildfire-data/modis/2013/modis_2013_United_...,modis_2013_United_States.csv,102348,15,2013-01-01,2013-12-31,"[Aqua, Terra]",MODIS,6.2,74626,85736,101,2,365
3,../wildfire-data/viirs-snpp/2013/viirs-snpp_20...,viirs-snpp_2013_United_States.csv,401694,15,2013-01-01,2013-12-31,[N],VIIRS,1,369638,353795,3,1,365
14,../wildfire-data/modis/2014/modis_2014_United_...,modis_2014_United_States.csv,98871,15,2014-01-01,2014-12-31,"[Aqua, Terra]",MODIS,6.2,73109,81332,101,2,365
4,../wildfire-data/viirs-snpp/2014/viirs-snpp_20...,viirs-snpp_2014_United_States.csv,373222,15,2014-01-01,2014-12-31,[N],VIIRS,1,345829,330246,3,1,364
15,../wildfire-data/modis/2015/modis_2015_United_...,modis_2015_United_States.csv,146984,15,2015-01-01,2015-12-31,"[Terra, Aqua]",MODIS,6.2,101251,118126,101,2,365
5,../wildfire-data/viirs-snpp/2015/viirs-snpp_20...,viirs-snpp_2015_United_States.csv,577122,15,2015-01-01,2015-12-31,[N],VIIRS,1,520722,493443,3,1,365
29,../wildfire-data/modis/2016/modis_2016_United_...,modis_2016_United_States.csv,112736,15,2016-01-01,2016-12-31,"[Aqua, Terra]",MODIS,6.2,80047,91825,101,2,366
12,../wildfire-data/viirs-snpp/2016/viirs-snpp_20...,viirs-snpp_2016_United_States.csv,428949,15,2016-01-01,2016-12-31,[N],VIIRS,1,394376,375685,3,1,366
23,../wildfire-data/modis/2017/modis_2017_United_...,modis_2017_United_States.csv,152702,15,2017-01-01,2017-12-31,"[Terra, Aqua]",MODIS,6.2,100234,118523,101,2,365
7,../wildfire-data/viirs-snpp/2017/viirs-snpp_20...,viirs-snpp_2017_United_States.csv,593047,15,2017-01-01,2017-12-31,[N],VIIRS,1,538578,505480,3,1,365
27,../wildfire-data/modis/2018/modis_2018_United_...,modis_2018_United_States.csv,130986,15,2018-01-01,2018-12-31,"[Terra, Aqua]",MODIS,6.03,87966,100966,101,2,365
11,../wildfire-data/viirs-snpp/2018/viirs-snpp_20...,viirs-snpp_2018_United_States.csv,552123,15,2018-01-01,2018-12-31,[N],VIIRS,1,496577,456817,3,1,365
25,../wildfire-data/modis/2019/modis_2019_United_...,modis_2019_United_States.csv,107213,15,2019-01-01,2019-12-31,"[Aqua, Terra]",MODIS,6.03,80248,92764,101,2,365
8,../wildfire-data/viirs-snpp/2019/viirs-snpp_20...,viirs-snpp_2019_United_States.csv,447311,15,2019-01-01,2019-12-31,[N],VIIRS,1,407706,402590,3,1,365
26,../wildfire-data/modis/2020/modis_2020_United_...,modis_2020_United_States.csv,153848,15,2020-01-01,2020-12-31,"[Terra, Aqua]",MODIS,6.03,93718,109931,101,2,366
10,../wildfire-data/viirs-snpp/2020/viirs-snpp_20...,viirs-snpp_2020_United_States.csv,672450,15,2020-01-01,2020-12-31,[N],VIIRS,1,586894,521973,3,1,366
9,../wildfire-data/viirs-snpp/2021/viirs-snpp_20...,viirs-snpp_2021_United_States.csv,661058,15,2021-01-01,2021-12-31,[N],VIIRS,1,584054,510255,3,1,364
0,../wildfire-data/MODIS-01012022-03252022-Unite...,MODIS-01012022-03252022-United_States.csv,26463,14,2022-01-01,2022-03-25,"[Aqua, Terra]",MODIS,6.1NRT,26047,26208,97,2,84
1,../wildfire-data/VIIRS-SUOMI-01012022-03252022...,VIIRS-SUOMI-01012022-03252022-United_States.csv,87929,14,2022-01-01,2022-03-25,[N],VIIRS,2.0NRT,83200,84471,3,1,84
2,../wildfire-data/VIIRS-J1-01012022-03252022-Un...,VIIRS-J1-01012022-03252022-United_States.csv,89699,14,2022-01-01,2022-03-25,[1],VIIRS,2.0NRT,84864,86271,3,1,84

Total Rows: 7884687

In [156]:
## DO NOT DELETE - Help us to make sure we have 2022 data
## Note without 2022 data we had the following records count 
##  (7680596, 17)

In [157]:
fire_df

[       latitude  longitude  brightness  scan  track    acq_date acq_time  \
 0      19.41736 -155.27985      333.19  1.39   1.17  2022-01-01     1223
 1      19.39973 -155.27629      301.55  1.40   1.17  2022-01-01     1223
 2      19.40192 -155.28940      309.17  1.39   1.17  2022-01-01     1223
 3      19.41009 -155.27425      391.88  1.40   1.17  2022-01-01     1223
 4      19.41229 -155.28754      420.54  1.39   1.17  2022-01-01     1223
 ...         ...        ...         ...   ...    ...         ...      ...
 26458  19.40477 -155.29367      409.81  1.00   1.00  2022-03-25     2346
 26459  19.41502 -155.28574      327.75  1.00   1.00  2022-03-25     2346
 26460  19.39722 -155.28285      372.80  1.00   1.00  2022-03-25     2346
 26461  19.39587 -155.29224      339.47  1.00   1.00  2022-03-25     2346
 26462  19.40612 -155.28429      452.11  1.00   1.00  2022-03-25     2346

       satellite instrument  confidence version  bright_t31     frp daynight
 0          Aqua      MODIS         100  6.1NRT      290.13   57.45        N
 1          Aqua      MODIS          28  6.1NRT      286.69    9.62        N
 2          Aqua      MODIS          77  6.1NRT      286.69   17.35        N
 3          Aqua      MODIS         100  6.1NRT      299.67  340.62        N
 4          Aqua      MODIS         100  6.1NRT      298.81  651.82        N
 ...         ...        ...         ...     ...         ...     ...      ...
 26458      Aqua      MODIS         100  6.1NRT      325.46  301.59        D
 26459      Aqua      MODIS          55  6.1NRT      311.22   14.56        D
 26460      Aqua      MODIS         100  6.1NRT      315.68  111.31        D
 26461      Aqua      MODIS          89  6.1NRT      311.52   26.62        D
 26462      Aqua      MODIS         100  6.1NRT      400.07  724.08        D

 [26463 rows x 14 columns],
        latitude  longitude  brightness  scan  track    acq_date acq_time  \
 0      33.44813  -88.56963      309.21  0.48   0.40  2022-01-01     0726
 1      32.60958  -82.26559      302.85  0.41   0.37  2022-01-01     0726
 2      33.99229  -88.47186      317.08  0.49   0.40  2022-01-01     0726
 3      33.99599  -88.47121      319.58  0.49   0.40  2022-01-01     0726
 4      33.01337  -79.88333      306.75  0.50   0.41  2022-01-01     0726
 ...         ...        ...         ...   ...    ...         ...      ...
 87924  19.41079 -155.27417      367.00  0.49   0.65  2022-03-25     2248
 87925  19.40383 -155.27739      367.00  0.49   0.65  2022-03-25     2248
 87926  19.40281 -155.28198      367.00  0.49   0.65  2022-03-25     2248
 87927  19.40777 -155.28777      343.11  0.49   0.65  2022-03-25     2248
 87928  19.40876 -155.28329      367.00  0.49   0.65  2022-03-25     2248

       satellite instrument  confidence version  bright_t31     frp daynight
 0             N      VIIRS          50  2.0NRT      290.56    1.52        N
 1             N      VIIRS          50  2.0NRT      286.26    0.76        N
 2             N      VIIRS          50  2.0NRT      284.51    1.85        N
 3             N      VIIRS          50  2.0NRT      284.82    1.85        N
 4             N      VIIRS          50  2.0NRT      288.94    1.42        N
 ...         ...        ...         ...     ...         ...     ...      ...
 87924         N      VIIRS         100  2.0NRT      325.02  251.28        D
 87925         N      VIIRS         100  2.0NRT      321.21  124.47        D
 87926         N      VIIRS         100  2.0NRT      327.60  106.01        D
 87927         N      VIIRS          50  2.0NRT      301.96  107.44        D
 87928         N      VIIRS           0  2.0NRT      345.56  107.44        D

 [87929 rows x 14 columns],
        latitude  longitude  brightness  scan  track    acq_date acq_time  \
 0      35.59524  -79.47195      297.12  0.54   0.51  2022-01-01     0631
 1      28.29930  -82.19985      303.28  0.33   0.55  2022-01-01     0633
 2      28.40821  -82.21400      298.01  0.33   0.55  2022-01-01     0633
 3      28.70181  -82.04972      306.11  0.32   0.55  2022-01-01     0633
 4      31.15173  -87.98898      304.21  0.77   0.78  2022-01-01     0633
 ...         ...        ...         ...   ...    ...         ...      ...
 89694  19.41052 -155.28645      352.58  0.39   0.36  2022-03-25     2337
 89695  19.40829 -155.27849      367.00  0.39   0.36  2022-03-25     2337
 89696  19.40110 -155.28111      348.82  0.39   0.36  2022-03-25     2337
 89697  19.40443 -155.28163      351.30  0.39   0.36  2022-03-25     2337
 89698  19.41107 -155.28275      367.00  0.39   0.36  2022-03-25     2337

        satellite instrument  confidence version  bright_t31     frp daynight
 0              1      VIIRS          50  2.0NRT      267.70    0.76        N
 1              1      VIIRS          50  2.0NRT      287.66    0.15        N
 2              1      VIIRS          50  2.0NRT      287.89    0.25        N
 3              1      VIIRS          50  2.0NRT      288.52    0.51        N
 4              1      VIIRS          50  2.0NRT      287.80    1.96        N
 ...          ...        ...         ...     ...         ...     ...      ...
 89694          1      VIIRS          50  2.0NRT      314.70  136.79        D
 89695          1      VIIRS         100  2.0NRT      345.27   57.33        D
 89696          1      VIIRS          50  2.0NRT      316.51   50.50        D
 89697          1      VIIRS           0  2.0NRT      338.97   50.50        D
 89698          1      VIIRS           0  2.0NRT      330.64   57.33        D

 [89699 rows x 14 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       33.015182  -79.886269      302.35  0.50   0.66  2013-01-01     0613
 1       28.966951  -81.738235      296.46  0.59   0.70  2013-01-01     0614
 2       46.731281  -92.076927      302.25  0.46   0.39  2013-01-01     0750
 3       41.480541  -90.832298      321.17  0.39   0.36  2013-01-01     0752
 4       33.452900  -82.920937      297.83  0.57   0.52  2013-01-01     0754
 ...           ...         ...         ...   ...    ...         ...      ...
 401689  39.545490 -115.925102      327.62  0.39   0.37  2013-12-31     2035
 401690  38.446827  -96.908493      339.03  0.73   0.76  2013-12-31     2035
 401691  38.449066  -96.910133      342.29  0.73   0.76  2013-12-31     2035
 401692  41.492058 -120.704498      335.88  0.52   0.42  2013-12-31     2036
 401693  43.321976 -123.522713      337.41  0.42   0.45  2013-12-31     2037

        satellite instrument  confidence  version  bright_ti5   frp daynight  \
 0              N      VIIRS          50        1      279.78  1.45        N
 1              N      VIIRS          50        1      281.78  0.73        N
 2              N      VIIRS          50        1      257.34  1.33        N
 3              N      VIIRS          50        1      262.67  2.43        N
 4              N      VIIRS          50        1      277.67  0.58        N
 ...          ...        ...         ...      ...         ...   ...      ...
 401689         N      VIIRS          50        1      278.99  2.20        D
 401690         N      VIIRS          50        1      281.25  7.46        D
 401691         N      VIIRS          50        1      281.25  6.62        D
 401692         N      VIIRS          50        1      286.09  7.42        D
 401693         N      VIIRS          50        1      279.81  8.63        D

         type
 0          2
 1          0
 2          3
 3          2
 4          0
 ...      ...
 401689     0
 401690     0
 401691     0
 401692     0
 401693     0

 [401694 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       39.560658  -77.169441      303.95  0.40   0.37  2014-01-01     0712
 1       40.636753  -74.220612      303.01  0.48   0.40  2014-01-01     0712
 2       39.952835  -76.595207      303.68  0.41   0.37  2014-01-01     0712
 3       39.938808  -76.813057      317.05  0.41   0.37  2014-01-01     0712
 4       40.229626  -76.840134      299.18  0.40   0.37  2014-01-01     0712
 ...           ...         ...         ...   ...    ...         ...      ...
 373217  37.582554 -120.840157      329.62  0.43   0.46  2014-12-31     2137
 373218  37.605770 -120.913216      328.83  0.43   0.46  2014-12-31     2137
 373219  37.604919 -120.911713      335.44  0.43   0.46  2014-12-31     2137
 373220  37.539196 -120.844048      325.36  0.43   0.46  2014-12-31     2137
 373221  36.643803 -119.658562      339.91  0.49   0.48  2014-12-31     2137

        satellite instrument  confidence  version  bright_ti5   frp daynight  \
 0              N      VIIRS          50        1      269.07  1.34        N
 1              N      VIIRS          50        1      274.64  1.51        N
 2              N      VIIRS          50        1      265.69  0.87        N
 3              N      VIIRS          50        1      268.71  2.11        N
 4              N      VIIRS          50        1      268.14  1.36        N
 ...          ...        ...         ...      ...         ...   ...      ...
 373217         N      VIIRS          50        1      284.22  2.58        D
 373218         N      VIIRS          50        1      283.45  5.52        D
 373219         N      VIIRS          50        1      284.69  6.09        D
 373220         N      VIIRS          50        1      283.04  1.30        D
 373221         N      VIIRS          50        1      283.85  3.91        D

         type
 0          2
 1          2
 2          2
 3          2
 4          3
 ...      ...
 373217     0
 373218     0
 373219     0
 373220     0
 373221     0

 [373222 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       40.126335  -80.997078      322.99  0.42   0.61  2015-01-01     0633
 1       40.751339  -81.441330      335.88  0.45   0.63  2015-01-01     0633
 2       39.937538  -76.812614      301.80  0.51   0.49  2015-01-01     0633
 3       36.353794  -76.808060      301.27  0.46   0.47  2015-01-01     0634
 4       37.318413  -82.368004      299.73  0.48   0.65  2015-01-01     0634
 ...           ...         ...         ...   ...    ...         ...      ...
 577117  34.279835 -109.076752      341.52  0.43   0.46  2015-12-31     2046
 577118  35.651077 -120.605408      334.89  0.48   0.40  2015-12-31     2047
 577119  35.962158 -112.155090      342.05  0.48   0.40  2015-12-31     2047
 577120  35.965832 -112.155701      338.68  0.48   0.40  2015-12-31     2047
 577121  48.904709 -122.684242      326.91  0.39   0.36  2015-12-31     2051

        satellite instrument  confidence  version  bright_ti5   frp daynight  \
 0              N      VIIRS          50        1      265.49  3.26        N
 1              N      VIIRS          50        1      264.78  3.99        N
 2              N      VIIRS          50        1      267.25  0.80        N
 3              N      VIIRS          50        1      272.01  1.45        N
 4              N      VIIRS          50        1      267.46  0.89        N
 ...          ...        ...         ...      ...         ...   ...      ...
 577117         N      VIIRS          50        1      283.17  5.39        D
 577118         N      VIIRS          50        1      288.17  4.90        D
 577119         N      VIIRS          50        1      276.36  5.56        D
 577120         N      VIIRS          50        1      274.28  7.17        D
 577121         N      VIIRS          50        1      274.16  2.79        D

         type
 0          0
 1          2
 2          2
 3          2
 4          0
 ...      ...
 577117     0
 577118     0
 577119     0
 577120     0
 577121     0

 [577122 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       40.393394  -79.854332      334.52  0.46   0.63  2012-01-20     0619
 1       39.214512  -76.478729      328.69  0.59   0.53  2012-01-20     0619
 2       39.217484  -76.477531      328.30  0.59   0.53  2012-01-20     0619
 3       35.479481  -76.787148      296.78  0.57   0.52  2012-01-20     0620
 4       36.356388  -76.808456      298.89  0.58   0.52  2012-01-20     0620
 ...           ...         ...         ...   ...    ...         ...      ...
 531862  19.328762 -155.031204      331.98  0.38   0.59  2012-12-31     2251
 531863  19.337179 -155.018036      367.00  0.38   0.58  2012-12-31     2251
 531864  19.334892 -155.028717      351.39  0.38   0.59  2012-12-31     2251
 531865  19.331045 -155.020554      339.05  0.38   0.58  2012-12-31     2251
 531866  19.335659 -155.025162      367.00  0.38   0.58  2012-12-31     2251

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      265.82   5.02        N
 1              N      VIIRS          50        1      271.66   5.20        N
 2              N      VIIRS          50        1      272.87   5.50        N
 3              N      VIIRS          50        1      273.75   1.15        N
 4              N      VIIRS          50        1      275.99   1.21        N
 ...          ...        ...         ...      ...         ...    ...      ...
 531862         N      VIIRS          50        1      289.71   3.81        D
 531863         N      VIIRS         100        1      298.48  10.36        D
 531864         N      VIIRS          50        1      296.43   6.97        D
 531865         N      VIIRS          50        1      287.86   3.84        D
 531866         N      VIIRS         100        1      299.50   9.69        D

         type
 0          2
 1          2
 2          2
 3          0
 4          3
 ...      ...
 531862     3
 531863     0
 531864     0
 531865     3
 531866     0

 [531867 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       42.297718  -83.154816      322.24  0.68   0.74  2017-01-01     0619
 1       42.298908  -83.151909      305.27  0.68   0.74  2017-01-01     0619
 2       42.297699  -83.172066      298.61  0.68   0.74  2017-01-01     0619
 3       42.257187  -83.135468      302.84  0.68   0.74  2017-01-01     0619
 4       42.298943  -83.160439      306.00  0.68   0.74  2017-01-01     0619
 ...           ...         ...         ...   ...    ...         ...      ...
 593042  19.382727 -155.065659      350.70  0.44   0.46  2017-12-31     2357
 593043  19.378485 -155.064972      367.00  0.44   0.46  2017-12-31     2357
 593044  19.384449 -155.087982      352.94  0.44   0.46  2017-12-31     2357
 593045  19.382225 -155.069977      367.00  0.44   0.46  2017-12-31     2357
 593046  19.384958 -155.083618      337.92  0.44   0.46  2017-12-31     2357

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      268.95   3.00        N
 1              N      VIIRS          50        1      267.87   2.57        N
 2              N      VIIRS          50        1      268.04   4.06        N
 3              N      VIIRS          50        1      268.40   2.01        N
 4              N      VIIRS          50        1      270.70   2.57        N
 ...          ...        ...         ...      ...         ...    ...      ...
 593042         N      VIIRS          50        1      315.34  14.44        D
 593043         N      VIIRS         100        1      316.18  24.19        D
 593044         N      VIIRS          50        1      327.09  40.19        D
 593045         N      VIIRS         100        1      320.78  14.44        D
 593046         N      VIIRS          50        1      308.99  40.19        D

         type
 0          2
 1          2
 2          2
 3          2
 4          2
 ...      ...
 593042     0
 593043     0
 593044     0
 593045     0
 593046     0

 [593047 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       39.442356  -78.593529      303.97  0.51   0.50  2019-01-01     0633
 1       36.229572  -76.331787      297.75  0.54   0.42  2019-01-01     0634
 2       35.164753  -78.014725      302.29  0.43   0.46  2019-01-01     0634
 3       32.466473  -81.363434      304.59  0.62   0.54  2019-01-01     0635
 4       33.013569  -79.887283      327.08  0.51   0.50  2019-01-01     0635
 ...           ...         ...         ...   ...    ...         ...      ...
 447306  42.768929 -123.220657      343.06  0.42   0.38  2019-12-31     2053
 447307  42.765507 -123.219635      335.40  0.42   0.38  2019-12-31     2053
 447308  42.875229 -122.922440      332.39  0.41   0.37  2019-12-31     2053
 447309  43.456131 -121.759857      342.97  0.39   0.36  2019-12-31     2053
 447310  43.905331 -120.476898      334.09  0.38   0.36  2019-12-31     2053

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      277.29   1.77        N
 1              N      VIIRS          50        1      280.70   0.33        N
 2              N      VIIRS          50        1      277.23   0.24        N
 3              N      VIIRS          50        1      286.79   1.24        N
 4              N      VIIRS          50        1      284.94   2.79        N
 ...          ...        ...         ...      ...         ...    ...      ...
 447306         N      VIIRS          50        1      278.66  12.12        D
 447307         N      VIIRS          50        1      280.60   7.25        D
 447308         N      VIIRS          50        1      283.71   2.67        D
 447309         N      VIIRS          50        1      280.55   5.74        D
 447310         N      VIIRS          50        1      276.47   3.24        D

         type
 0          0
 1          0
 2          0
 3          0
 4          2
 ...      ...
 447306     0
 447307     0
 447308     0
 447309     0
 447310     0

 [447311 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       43.476295  -71.587440      297.23  0.48   0.40  2021-01-01     0624
 1       43.246197  -72.420631      298.24  0.52   0.42  2021-01-01     0624
 2       40.890423  -77.711998      318.41  0.59   0.53  2021-01-01     0624
 3       39.589787  -75.633263      295.77  0.44   0.46  2021-01-01     0624
 4       27.574802  -81.772072      298.91  0.37   0.58  2021-01-01     0624
 ...           ...         ...         ...   ...    ...         ...      ...
 661053  29.796158  -90.769928      333.09  0.40   0.37  2021-12-31     1900
 661054  29.784075  -91.766235      326.32  0.42   0.38  2021-12-31     1900
 661055  40.144726 -101.530975      342.62  0.51   0.50  2021-12-31     1906
 661056  38.554855 -122.550667      334.54  0.52   0.41  2021-12-31     2042
 661057  45.228741 -123.162697      329.69  0.43   0.38  2021-12-31     2048

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      269.23   0.68        N
 1              N      VIIRS          50        1      267.55   1.06        N
 2              N      VIIRS          50        1      269.67   3.09        N
 3              N      VIIRS          50        1      276.95   1.78        N
 4              N      VIIRS          50        1      284.31   0.51        N
 ...          ...        ...         ...      ...         ...    ...      ...
 661053         N      VIIRS          50        1      299.65  11.39        D
 661054         N      VIIRS          50        1      295.23   3.28        D
 661055         N      VIIRS          50        1      277.59   7.29        D
 661056         N      VIIRS          50        1      281.30   8.67        D
 661057         N      VIIRS          50        1      281.14   4.98        D

         type
 0          0
 1          0
 2          2
 3          2
 4          0
 ...      ...
 661053     0
 661054     0
 661055     0
 661056     0
 661057     2

 [661058 rows x 15 columns],

In [158]:
us_fire_df = pd.concat(fire_df)
us_fire_df.shape

(7884687, 17)

In [159]:
us_fire_df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,bright_ti4,bright_ti5,type
0,19.41736,-155.27985,333.19,1.39,1.17,2022-01-01,1223,Aqua,MODIS,100,6.1NRT,290.13,57.45,N,NaN,NaN,NaN
1,19.39973,-155.27629,301.55,1.40,1.17,2022-01-01,1223,Aqua,MODIS,28,6.1NRT,286.69,9.62,N,NaN,NaN,NaN
2,19.40192,-155.28940,309.17,1.39,1.17,2022-01-01,1223,Aqua,MODIS,77,6.1NRT,286.69,17.35,N,NaN,NaN,NaN
3,19.41009,-155.27425,391.88,1.40,1.17,2022-01-01,1223,Aqua,MODIS,100,6.1NRT,299.67,340.62,N,NaN,NaN,NaN
4,19.41229,-155.28754,420.54,1.39,1.17,2022-01-01,1223,Aqua,MODIS,100,6.1NRT,298.81,651.82,N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158380,34.16460,-100.13540,336.30,1.60,1.30,2004-12-31,2013,Aqua,MODIS,90,6.2,290.40,73.70,D,NaN,NaN,0.0
158381,34.16480,-100.12830,345.50,1.60,1.30,2004-12-31,2013,Aqua,MODIS,94,6.2,289.70,108.20,D,NaN,NaN,0.0
158382,34.16630,-100.11770,315.70,1.60,1.30,2004-12-31,2013,Aqua,MODIS,75,6.2,287.80,25.10,D,NaN,NaN,0.0
158383,34.16300,-100.14590,322.90,1.60,1.30,2004-12-31,2013,Aqua,MODIS,82,6.2,288.70,41.00,D,NaN,NaN,0.0
158384,37.38090,-101.51660,305.10,1.50,1.20,2004-12-31,2014,Aqua,MODIS,61,6.2,283.10,12.30,D,NaN,NaN,0.0

In [160]:
us_fire_df['acq_date'] = pd.to_datetime(us_fire_df['acq_date'])

In [161]:
us_fire_df['acq_date'].min()

Timestamp('2000-11-01 00:00:00')

## Now we have USA wildfire data until March 25th 2022

In [163]:
us_fire_df['acq_date'].max()

Timestamp('2022-03-25 00:00:00')

In [164]:
us_fire_df = us_fire_df.sort_values(by=['acq_date', 'acq_time'])

In [165]:
us_fire_df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,bright_ti4,bright_ti5,type
0,38.54220,-78.30470,304.80,2.8,1.6,2000-11-01,0250,Terra,MODIS,23,6.2,280.90,40.30,N,NaN,NaN,0.0
1,38.55630,-78.30840,309.40,2.8,1.6,2000-11-01,0250,Terra,MODIS,70,6.2,280.40,54.50,N,NaN,NaN,0.0
2,38.54510,-78.31070,309.90,2.8,1.6,2000-11-01,0250,Terra,MODIS,79,6.2,280.70,58.80,N,NaN,NaN,0.0
3,38.55860,-78.31700,302.30,2.8,1.6,2000-11-01,0250,Terra,MODIS,45,6.2,279.80,36.00,N,NaN,NaN,0.0
4,31.33930,-89.91240,304.90,1.0,1.0,2000-11-01,0427,Terra,MODIS,62,6.2,287.50,8.50,N,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26458,19.40477,-155.29367,409.81,1.0,1.0,2022-03-25,2346,Aqua,MODIS,100,6.1NRT,325.46,301.59,D,NaN,NaN,NaN
26459,19.41502,-155.28574,327.75,1.0,1.0,2022-03-25,2346,Aqua,MODIS,55,6.1NRT,311.22,14.56,D,NaN,NaN,NaN
26460,19.39722,-155.28285,372.80,1.0,1.0,2022-03-25,2346,Aqua,MODIS,100,6.1NRT,315.68,111.31,D,NaN,NaN,NaN
26461,19.39587,-155.29224,339.47,1.0,1.0,2022-03-25,2346,Aqua,MODIS,89,6.1NRT,311.52,26.62,D,NaN,NaN,NaN
26462,19.40612,-155.28429,452.11,1.0,1.0,2022-03-25,2346,Aqua,MODIS,100,6.1NRT,400.07,724.08,D,NaN,NaN,NaN

In [166]:
us_fire_df['confidence'].nunique()

101

In [167]:
us_fire_df['confidence'].unique()

array([ 23,  70,  79,  45,  62,  75,  74,  54,  69,  77,  72,  49,  36,
        43,  52,  21,  63,  57,  68,  67,   0,  56,  96,  98, 100,  95,
        42,  73,  91,  92,  41,  26,  53,  88,  81,  51,  61,  59,  60,
        76,  71,  46,  47,  82,  50,  65,  83,  55,  22,  58,  97,  90,
        87,  86,  66,  34,  84,  78,  44,  80,  89,  29,  85,  37,  24,
        64,  94,  48,  31,  18,  32,  93,  33,  39,  19,  10,  30,   4,
        13,   2,  99,  40,  28,  20,  38,  27,  35,  17,   7,  16,  14,
         9,   8,  15,  12,  25,  11,   6,   5,   3,   1])

# Brightness #
- brightness: Channel 21/22 brightness temperature of the fire pixel measured in Kelvin.

In [168]:
us_fire_df['brightness'].describe()

count    2.645844e+06
mean     3.258432e+02
std      2.353386e+01
min      2.079300e+02
25%      3.104000e+02
50%      3.197000e+02
75%      3.342900e+02
max      5.070000e+02
Name: brightness, dtype: float64

## Satellite ##

In [169]:
us_fire_df['satellite'].unique()

array(['Terra', 'Aqua', 'N', 1], dtype=object)

In [170]:
us_fire_df['instrument'].unique()

array(['MODIS', 'VIIRS'], dtype=object)

## bright_t31 ##
- Channel 31 brightness temperature of the fire pixel measured in Kelvin.

In [171]:
us_fire_df['bright_t31'].describe()

count    2.645844e+06
mean     2.949861e+02
std      9.768978e+00
min      2.216200e+02
25%      2.894900e+02
50%      2.948000e+02
75%      3.001000e+02
max      4.001000e+02
Name: bright_t31, dtype: float64

In [172]:
us_fire_df['bright_t31'].unique()

array([280.9 , 280.4 , 280.7 , ..., 345.27, 338.97, 325.46])

## frp ##
- Fire Radiative Power depicts the pixel-integrated fire radiative power in MW (megawatts).

In [173]:
us_fire_df['frp'].describe()

count    7.884687e+06
mean     3.002932e+01
std      1.238268e+02
min     -5.920000e+01
25%      2.560000e+00
50%      7.220000e+00
75%      2.090000e+01
max      1.614640e+04
Name: frp, dtype: float64

## type ##
- Inferred hot spot type
  - 0 = presumed vegetation fire
  - 1 = active volcano
  - 2 = other static land source
  - 3 = offshore

In [174]:
us_fire_df['type'].unique()

array([ 0.,  2.,  3.,  1., nan])

## Confidence ##
- This value is based on a collection of intermediate algorithm quantities used in the detection process. 
- It is intended to help users gauge the quality of individual hotspot/fire pixels. 
- Confidence estimates range between 0 and 100% and are assigned one of the three fire classes
  - low-confidence fire
  - nominal-confidence fire
  - high-confidence fire).

In [175]:
us_fire_df['confidence'].unique()

array([ 23,  70,  79,  45,  62,  75,  74,  54,  69,  77,  72,  49,  36,
        43,  52,  21,  63,  57,  68,  67,   0,  56,  96,  98, 100,  95,
        42,  73,  91,  92,  41,  26,  53,  88,  81,  51,  61,  59,  60,
        76,  71,  46,  47,  82,  50,  65,  83,  55,  22,  58,  97,  90,
        87,  86,  66,  34,  84,  78,  44,  80,  89,  29,  85,  37,  24,
        64,  94,  48,  31,  18,  32,  93,  33,  39,  19,  10,  30,   4,
        13,   2,  99,  40,  28,  20,  38,  27,  35,  17,   7,  16,  14,
         9,   8,  15,  12,  25,  11,   6,   5,   3,   1])

In [176]:
us_fire_df.columns

Index(['latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_t31', 'frp', 'daynight', 'bright_ti4', 'bright_ti5', 'type'],
      dtype='object')

In [189]:
us_fire_df.to_csv('usa_daily_fire_2000_march25-2022-raw.csv', index=False)

## Extracting few main feautures from the dataset ##

In [177]:
daily_fires_df = us_fire_df.groupby(
            ['latitude', 'longitude', 'acq_date', 'satellite', 'instrument']).confidence.max().reset_index()

In [179]:
## Note: Do not delete
## Without 2022 data we have rows/column count as below 
## 7680586 rows × 6 columns

In [59]:
### Note: If you have 'frp', 'type', 'bright_t31' columns to the mix, the 2021 data will be removed  ###
#daily_fires_df = us_fire_df.groupby(
#             ['latitude', 'longitude', 'acq_date', 'satellite', 'instrument', 'frp', 'type', 'bright_t31']).confidence.max().reset_index()

In [180]:
daily_fires_df

          latitude   longitude   acq_date satellite instrument  confidence
0        18.919016 -155.676727 2019-10-04         N      VIIRS          50
1        18.919678 -155.680664 2019-10-04         N      VIIRS          50
2        18.921785 -155.672180 2019-10-04         N      VIIRS          50
3        18.922449 -155.676117 2019-10-04         N      VIIRS          50
4        18.923107 -155.680054 2019-10-04         N      VIIRS          50
...            ...         ...        ...       ...        ...         ...
7884672  70.461823 -149.446426 2013-08-01         N      VIIRS          50
7884673  70.462181 -149.440659 2021-07-20         N      VIIRS          50
7884674  70.664764 -159.965317 2017-06-13         N      VIIRS          50
7884675  70.666168 -159.963379 2012-06-15         N      VIIRS          50
7884676  71.328369 -156.662857 2013-08-30         N      VIIRS          50

[7884677 rows x 6 columns]

In [181]:
daily_fires_df['acq_date'].min()

Timestamp('2000-11-01 00:00:00')

In [182]:
daily_fires_df['acq_date'].max()

Timestamp('2022-03-25 00:00:00')

In [183]:
daily_fires_df['confidence'].unique()

array([ 50,   0,  94,  87, 100,  75,  86,  46,  34,  85,  42,  40,  69,
        23,  74,  60,  55,  56,  53,  70,  47,  82,  27,  25,  66,  72,
        19,  65,  59,  57,  89,  91,  48,  30,  20,  22,  37,  67,  24,
        71,  54,  61,  92,  77,  36,  33,  81,  35,  63,  41,  51,  90,
        45,  98,  32,  21,  58,  78,  68,  38,  95,  73,  29,  44,  99,
        97,  96,  49,  43,  28,  80,  84,  83,  17,   7,  64,  62,  79,
         6,  14,  18,  76,  16,  88,  39,  93,  15,  52,  12,   8,  31,
        13,  11,  26,   5,   9,   2,  10,   4,   3,   1])

In [184]:
daily_fires_df = daily_fires_df[daily_fires_df.confidence >= 50]

In [185]:
daily_fires_df

          latitude   longitude   acq_date satellite instrument  confidence
0        18.919016 -155.676727 2019-10-04         N      VIIRS          50
1        18.919678 -155.680664 2019-10-04         N      VIIRS          50
2        18.921785 -155.672180 2019-10-04         N      VIIRS          50
3        18.922449 -155.676117 2019-10-04         N      VIIRS          50
4        18.923107 -155.680054 2019-10-04         N      VIIRS          50
...            ...         ...        ...       ...        ...         ...
7884672  70.461823 -149.446426 2013-08-01         N      VIIRS          50
7884673  70.462181 -149.440659 2021-07-20         N      VIIRS          50
7884674  70.664764 -159.965317 2017-06-13         N      VIIRS          50
7884675  70.666168 -159.963379 2012-06-15         N      VIIRS          50
7884676  71.328369 -156.662857 2013-08-30         N      VIIRS          50

[7187992 rows x 6 columns]

In [186]:
daily_fires_df['confidence'].unique()

array([ 50,  94,  87, 100,  75,  86,  85,  69,  74,  60,  55,  56,  53,
        70,  82,  66,  72,  65,  59,  57,  89,  91,  67,  71,  54,  61,
        92,  77,  81,  63,  51,  90,  98,  58,  78,  68,  95,  73,  99,
        97,  96,  80,  84,  83,  64,  62,  79,  76,  88,  93,  52])

In [187]:
daily_fires_df

          latitude   longitude   acq_date satellite instrument  confidence
0        18.919016 -155.676727 2019-10-04         N      VIIRS          50
1        18.919678 -155.680664 2019-10-04         N      VIIRS          50
2        18.921785 -155.672180 2019-10-04         N      VIIRS          50
3        18.922449 -155.676117 2019-10-04         N      VIIRS          50
4        18.923107 -155.680054 2019-10-04         N      VIIRS          50
...            ...         ...        ...       ...        ...         ...
7884672  70.461823 -149.446426 2013-08-01         N      VIIRS          50
7884673  70.462181 -149.440659 2021-07-20         N      VIIRS          50
7884674  70.664764 -159.965317 2017-06-13         N      VIIRS          50
7884675  70.666168 -159.963379 2012-06-15         N      VIIRS          50
7884676  71.328369 -156.662857 2013-08-30         N      VIIRS          50

[7187992 rows x 6 columns]

In [190]:
##daily_fires_df.to_csv('usa_daily_fire_2000_2021.csv.gz', index=False, compression='gzip')
daily_fires_df.to_csv('usa_daily_fire_2000_march25-2022-grouped.csv', index=False)

In [191]:
!ls -lah

total 3493048
drwxr-xr-x  17 avkash  staff   544B Mar 27 09:09 .
drwxr-xr-x  13 avkash  staff   416B Mar 26 22:49 ..
-rw-r--r--@  1 avkash  staff   6.0K Mar 27 08:52 .DS_Store
drwxr-xr-x   7 avkash  staff   224B Mar 27 08:54 .ipynb_checkpoints
-rw-r--r--   1 avkash  staff    15K Mar 27 08:30 Untitled.ipynb
-rw-r--r--   1 avkash  staff   1.3K Mar 27 08:56 Untitled1.ipynb
-rw-r--r--   1 avkash  staff    54M Mar 27 08:35 ca_daily_fire_2000_2021.csv
-rw-r--r--   1 avkash  staff   3.8M Mar 27 08:36 ca_fire_test.csv
-rw-r--r--   1 avkash  staff    60M Mar 27 08:36 ca_fire_train.csv
-rw-r--r--   1 avkash  staff   7.5M Mar 27 08:36 ca_fire_valid.csv
-rw-r--r--   1 avkash  staff   9.1M Mar 27 08:38 feature-engineering-ca-wildfire-data.ipynb
-rw-r--r--   1 avkash  staff    31K Mar 27 08:37 ml-ca-wildfire-ml-ready-data.ipynb
-rw-r--r--   1 avkash  staff   289M Mar 27 08:29 usa_daily_fire_2000_2021.csv
-rw-r--r--   1 avkash  staff   296M Mar 27 09:09 usa_daily_fire_2000_march25-2022-grouped.csv
-rw-r--r--   1 avkash  staff   650M Mar 27 09:08 usa_daily_fire_2000_march25-2022-raw.csv
-rw-r--r--   1 avkash  staff   296M Mar 27 09:06 usa_daily_fire_2000_march25-2022.csv
-rw-r--r--   1 avkash  staff   353K Mar 27 09:09 wildfire_data_creation-california.ipynb

In [192]:
daily_fires_df['acq_date'].min()

Timestamp('2000-11-01 00:00:00')

In [193]:
daily_fires_df['acq_date'].max()

Timestamp('2022-03-25 00:00:00')

### California longitude and latitude range ###
- https://www.netstate.com/states/geography/ca_geography.htm
- Longitude: 114° 8' W to 124° 24' W
- Latitude: 32° 30' N to 42° N

In [194]:
CA_LATTITUDE_RANGE = (32, 42)
# We have to change [114, 124] to range as [-124, -114]
CA_LONGITUDE_RANGE = (-124, -114)

In [195]:
ca_daily_fire = daily_fires_df[
        (daily_fires_df.latitude > CA_LATTITUDE_RANGE[0]) & (daily_fires_df.latitude < CA_LATTITUDE_RANGE[1])]

In [196]:
print(ca_daily_fire.shape)
ca_daily_fire.sample(10)

(3621926, 6)

          latitude   longitude   acq_date satellite instrument  confidence
2764706  34.859035  -86.248192 2012-05-02         N      VIIRS          50
2327018  33.799152  -94.019424 2019-10-12         N      VIIRS          50
4697620  40.180130 -123.056488 2017-10-18         N      VIIRS          50
3330695  36.428822  -82.939720 2020-12-06         N      VIIRS          50
2156085  33.430300  -82.459100 2018-03-22     Terra      MODIS          76
3566919  37.121700  -96.339700 2015-04-02     Terra      MODIS          72
4220862  38.873562 -119.527534 2013-07-05         N      VIIRS         100
5020413  41.000854 -123.467621 2013-08-19         N      VIIRS         100
4724316  40.246071  -93.845245 2021-04-01         N      VIIRS          50
1852874  32.802681  -94.856544 2017-08-10         N      VIIRS          50

In [197]:
ca_daily_fire = ca_daily_fire[
    (ca_daily_fire.longitude > CA_LONGITUDE_RANGE[0]) & (ca_daily_fire.longitude < CA_LONGITUDE_RANGE[1])]

In [198]:
## Note: Do not delete
## Untill DEc 31, 2021 we have the following rows and cols 
## 1102649 rows × 6 columns

In [199]:
ca_daily_fire

          latitude   longitude   acq_date satellite instrument  confidence
1671402  32.353340 -114.768260 2022-03-23      Aqua      MODIS          80
1673606  32.358820 -114.762730 2022-03-24         N      VIIRS          50
1673796  32.359240 -114.765390 2022-03-24         N      VIIRS          50
1674135  32.360030 -114.759670 2022-03-23         N      VIIRS          50
1674268  32.360360 -114.759350 2022-03-23         N      VIIRS          50
...            ...         ...        ...       ...        ...         ...
5476988  41.999947 -120.655807 2012-08-14         N      VIIRS          50
5476989  41.999950 -123.621155 2020-09-20         N      VIIRS          50
5476990  41.999958 -122.592186 2018-07-08         N      VIIRS          50
5476991  41.999969 -120.648338 2012-08-14         N      VIIRS          50
5476992  41.999973 -123.645943 2020-09-11         N      VIIRS          50

[1116861 rows x 6 columns]

In [200]:
ca_daily_fire['acq_date'].min()

Timestamp('2000-11-01 00:00:00')

In [201]:
ca_daily_fire['acq_date'].max()

Timestamp('2022-03-25 00:00:00')

In [202]:
ca_daily_fire.describe()

           latitude     longitude    confidence
count  1.116861e+06  1.116861e+06  1.116861e+06
mean   3.859871e+01 -1.206445e+02  6.010158e+01
std    2.377151e+00  2.234325e+00  1.851666e+01
min    3.235334e+01 -1.239997e+02  5.000000e+01
25%    3.688822e+01 -1.227088e+02  5.000000e+01
50%    3.914958e+01 -1.210172e+02  5.000000e+01
75%    4.052800e+01 -1.191556e+02  5.800000e+01
max    4.199997e+01 -1.140001e+02  1.000000e+02

In [203]:
ca_daily_fire.dtypes

latitude             float64
longitude            float64
acq_date      datetime64[ns]
satellite             object
instrument            object
confidence             int64
dtype: object

In [204]:
ca_daily_fire['acq_date'] = pd.to_datetime(ca_daily_fire['acq_date'])

In [205]:
ca_daily_fire.dtypes

latitude             float64
longitude            float64
acq_date      datetime64[ns]
satellite             object
instrument            object
confidence             int64
dtype: object

In [206]:
ca_daily_fire

          latitude   longitude   acq_date satellite instrument  confidence
1671402  32.353340 -114.768260 2022-03-23      Aqua      MODIS          80
1673606  32.358820 -114.762730 2022-03-24         N      VIIRS          50
1673796  32.359240 -114.765390 2022-03-24         N      VIIRS          50
1674135  32.360030 -114.759670 2022-03-23         N      VIIRS          50
1674268  32.360360 -114.759350 2022-03-23         N      VIIRS          50
...            ...         ...        ...       ...        ...         ...
5476988  41.999947 -120.655807 2012-08-14         N      VIIRS          50
5476989  41.999950 -123.621155 2020-09-20         N      VIIRS          50
5476990  41.999958 -122.592186 2018-07-08         N      VIIRS          50
5476991  41.999969 -120.648338 2012-08-14         N      VIIRS          50
5476992  41.999973 -123.645943 2020-09-11         N      VIIRS          50

[1116861 rows x 6 columns]

In [207]:
ca_daily_fire['year'] = ca_daily_fire.acq_date.dt.year

In [208]:
ca_daily_fire['month'] = ca_daily_fire.acq_date.dt.month

In [209]:
ca_daily_fire

,latitude,longitude,acq_date,satellite,instrument,confidence,year,month
1671402,32.353340,-114.768260,2022-03-23,Aqua,MODIS,80,2022,3
1673606,32.358820,-114.762730,2022-03-24,N,VIIRS,50,2022,3
1673796,32.359240,-114.765390,2022-03-24,N,VIIRS,50,2022,3
1674135,32.360030,-114.759670,2022-03-23,N,VIIRS,50,2022,3
1674268,32.360360,-114.759350,2022-03-23,N,VIIRS,50,2022,3
...,...,...,...,...,...,...,...,...
5476988,41.999947,-120.655807,2012-08-14,N,VIIRS,50,2012,8
5476989,41.999950,-123.621155,2020-09-20,N,VIIRS,50,2020,9
5476990,41.999958,-122.592186,2018-07-08,N,VIIRS,50,2018,7
5476991,41.999969,-120.648338,2012-08-14,N,VIIRS,50,2012,8
5476992,41.999973,-123.645943,2020-09-11,N,VIIRS,50,2020,9

In [210]:
min_year = ca_daily_fire['acq_date'].min().year
print(min_year)

2000

In [211]:
max_year = ca_daily_fire['acq_date'].max().year
print(max_year)

2022

In [225]:
max_date = ca_daily_fire['acq_date'].max()
print('{:0>2}'.format(max_date.month))
print('{:0>2}'.format(max_date.day))
print(max_date.year)

03
25
2022

In [226]:
target_file_name = "ca_daily_fire_" + str(min_year) + "_" + '{:0>2}'.format(max_date.month) + '{:0>2}'.format(max_date.day) + str(max_date.year) +  ".csv"
print(target_file_name)

ca_daily_fire_2000_03252022.csv

In [227]:
ca_daily_fire.to_csv(target_file_name, index=False)
#ca_daily_fire.to_csv('ca_daily_fire_2012_2020.csv.gz', index=False, compression='gzip')

In [ ]:
!ls -lah