# Creating wildfire dataset for any country using global satellite data #
## We are using country USA and state California as our target country and region in this example ##

## Resources: ##
    - https://medium.com/ibm-data-ai/predicting-australian-wildfires-with-weather-forecast-data-8d1cc983c863
    - https://github.com/Call-for-Code/Spot-Challenge-Wildfires
    - https://h2o.ai/wildfire/
    - https://github.com/h2oai/challenge-wildfires/blob/main/notebook/DataPreparation.ipynb
    - https://github.com/mapbox/mapboxgl-jupyter
    - https://www.bigendiandata.com/2017-06-27-Mapping_in_Jupyter/

![modpas-nasa](https://github.com/prodramp/wildfire/blob/main/images/modaps-nasa.png?raw=true)

## Data Collection ##
- Please Visit https://firms.modaps.eosdis.nasa.gov/download/ to download both MODIS (2000-2020) and VIIRS (2012-2020) datasets based on each country wildfire data
  - MODIS - https://firms.modaps.eosdis.nasa.gov/country/
  - VIIRS - https://firms.modaps.eosdis.nasa.gov/country/
  - Active Fire (24 Hours, 48 Hours, 7 days)-  https://firms.modaps.eosdis.nasa.gov/usfs/active_fire/

<div style="max-width:400px;">
    <img src="https://github.com/prodramp/wildfire/blob/main/images/disclaimer.png?raw=true" size="400px"/>
</div>

In [1]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
import random
InteractiveShell.ast_node_interactivity = "all"
import os
from datetime import datetime
import plotly.express as px
import glob
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
!ls -l ../

total 8
-rw-r--r--   1 avkash  staff   85 Mar 26 07:52 README.md
drwxr-xr-x@ 11 avkash  staff  352 Mar 26 08:29 dataset
drwxr-xr-x   6 avkash  staff  192 Mar 26 08:03 images
drwxr-xr-x@  5 avkash  staff  160 Mar 25 15:32 wildfire-data
drwxr-xr-x@ 24 avkash  staff  768 Mar 25 15:29 zips_modis
drwxr-xr-x@ 13 avkash  staff  416 Mar 25 15:26 zips_viirs

In [3]:
! ls -lh ../wildfire-data

total 0
drwxr-xr-x@ 24 avkash  staff   768B Mar 25 15:28 modis
drwxr-xr-x@ 13 avkash  staff   416B Mar 25 15:26 viirs-snpp

In [4]:
! ls -lh ../wildfire-data/modis

total 0
drwxr-xr-x@ 165 avkash  staff   5.2K Feb 12  2019 2000
drwxr-xr-x@ 199 avkash  staff   6.2K Nov 16 09:06 2001
drwxr-xr-x@ 201 avkash  staff   6.3K Nov 16 09:06 2002
drwxr-xr-x@ 206 avkash  staff   6.4K Nov 16 09:06 2003
drwxr-xr-x@ 204 avkash  staff   6.4K Nov 16 09:06 2004
drwxr-xr-x@ 210 avkash  staff   6.6K Nov 16 09:06 2005
drwxr-xr-x@ 204 avkash  staff   6.4K Nov 16 09:06 2006
drwxr-xr-x@ 210 avkash  staff   6.6K Nov 16 09:06 2007
drwxr-xr-x@ 207 avkash  staff   6.5K Nov 16 09:06 2008
drwxr-xr-x@ 207 avkash  staff   6.5K Nov 16 09:06 2009
drwxr-xr-x@ 205 avkash  staff   6.4K Nov 16 09:06 2010
drwxr-xr-x@ 203 avkash  staff   6.3K Nov 16 09:06 2011
drwxr-xr-x@ 206 avkash  staff   6.4K Nov 16 09:06 2012
drwxr-xr-x@ 209 avkash  staff   6.5K Nov 16 09:06 2013
drwxr-xr-x@ 206 avkash  staff   6.4K Nov 16 09:06 2014
drwxr-xr-x@ 211 avkash  staff   6.6K Nov 16 09:06 2015
drwxr-xr-x@ 209 avkash  staff   6.5K Nov 16 09:06 2016
drwxr-xr-x@ 207 avkash  staff   6.5K Nov 16 09:06 2017
drwxr-xr-x@ 208 avkash  staff   6.5K Nov 16 09:06 2018
drwxr-xr-x@ 204 avkash  staff   6.4K Nov 16 09:06 2019
drwxr-xr-x@ 213 avkash  staff   6.7K Nov 16 09:06 2020

In [5]:
! ls -lh ../wildfire-data/viirs-snpp

total 0
drwxr-xr-x@ 222 avkash  staff   6.9K Nov 16 09:04 2012
drwxr-xr-x@ 225 avkash  staff   7.0K Nov 16 09:04 2013
drwxr-xr-x@ 216 avkash  staff   6.8K Nov 16 09:04 2014
drwxr-xr-x@ 218 avkash  staff   6.8K Nov 16 09:04 2015
drwxr-xr-x@ 222 avkash  staff   6.9K Nov 16 09:04 2016
drwxr-xr-x@ 218 avkash  staff   6.8K Nov 16 09:04 2017
drwxr-xr-x@ 221 avkash  staff   6.9K Nov 16 09:04 2018
drwxr-xr-x@ 219 avkash  staff   6.8K Nov 16 09:04 2019
drwxr-xr-x@ 220 avkash  staff   6.9K Nov 16 09:04 2020
drwxr-xr-x@ 218 avkash  staff   6.8K Jan 27 05:18 2021

In [6]:
all_csv_files = glob.glob('../wildfire-data/**/*.csv', recursive=True)

In [7]:
all_csv_files

['../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Reunion.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Barbados.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Greenland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Burundi.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Nepal.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Moldova.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Papua_New_Guinea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cook_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Belgium.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ethiopia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cuba.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Democratic_Republic_of_the_Congo.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Timor-Leste.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sint_Maarten.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mauritania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Zimbabwe.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Benin.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Aland_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Azerbaijan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Trinidad_and_Tobago.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Dem_Rep_Korea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Niue.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Jersey.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Gabon.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_States.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Switzerland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sao_Tome_and_Principe.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Syria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Nigeria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Libya.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Burkina_Faso.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Senegal.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Botswana.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Belize.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Tonga.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Norway.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mexico.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Comoros.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Slovakia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Slovenia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Martinique.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guatemala.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Antigua_and_Barbuda.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Iran.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Hong_Kong.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Vincent_and_the_Grenadines.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Luxembourg.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Dominican_Republic.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Heard_I_and_McDonald_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Faeroe_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Grenada.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ecuador.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Brunei_Darussalam.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Venezuela.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bangladesh.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_The_Gambia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Jordan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Argentina.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Malawi.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kenya.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bulgaria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Samoa.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Pakistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ghana.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Lesotho.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bhutan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_China.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Czech_Republic.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Namibia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Jamaica.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Hungary.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Iceland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Oman.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Anguilla.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Liberia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Afghanistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Equatorial_Guinea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guyana.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bolivia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Canada.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Central_African_Republic.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Paraguay.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guam.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mongolia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Armenia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Lao_PDR.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Costa_Rica.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Portugal.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Thailand.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kuwait.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Isle_of_Man.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Dominica.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_France.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Suriname.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cote_d_Ivoire.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Algeria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Serbia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_El_Salvador.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Curacao.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_French_Southern_and_Antarctic_Lands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Israel.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Latvia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Estonia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Uganda.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Australia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guinea-Bissau.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Aruba.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Turkmenistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Maldives.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Uzbekistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Tunisia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_South_Africa.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ukraine.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_New_Zealand.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_South_Sudan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Georgia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Italy.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_British_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bahamas.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mauritius.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sweden.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Puerto_Rico.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Philippines.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Albania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kazakhstan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Greece.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Republic_of_Korea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Brazil.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Lebanon.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Netherlands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Palau.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cameroon.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Turkey.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Eritrea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_French_Polynesia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Denmark.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_India.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Belarus.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mali.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Nicaragua.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_Arab_Emirates.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Romania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Panama.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Malaysia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Morocco.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Northern_Mariana_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Vietnam.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Macedonia_Former_Yugoslav_Republic_of.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Uruguay.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cape_Verde.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Ireland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Niger.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Solomon_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Turks_and_Caicos_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Tajikistan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kyrgyzstan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Finland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guadeloupe.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Egypt.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Croatia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Malta.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Kitts_and_Nevis.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Antarctica.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Togo.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Japan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Pierre_and_Miquelon.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cyprus.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Chile.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sierra_Leone.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cayman_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_Kingdom.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Vanuatu.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Tanzania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Lucia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Germany.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Falkland_Islands.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Angola.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Cambodia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Djibouti.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Fiji.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saudi_Arabia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_New_Caledonia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint-Martin.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Zambia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Indonesia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Lithuania.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Yemen.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Seychelles.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Colombia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guernsey.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Qatar.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mozambique.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Saint_Helena.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Poland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Singapore.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sudan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Russian_Federation.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kosovo.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Taiwan.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Palestine.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Swaziland.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bosnia_and_Herzegovina.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Honduras.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Chad.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Kiribati.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Montserrat.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Haiti.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Montenegro.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Bahrain.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Rwanda.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Madagascar.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Federated_States_of_Micronesia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Sri_Lanka.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Spain.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Guinea.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_French_Guiana.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Myanmar.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Peru.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Somalia.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Republic_of_Congo.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Austria.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Iraq.csv',
 '../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_Mayotte.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Guam.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Venezuela.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Mauritania.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Barbados.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Argentina.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Myanmar.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Azerbaijan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Somalia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Guatemala.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Hong_Kong.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Latvia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Ethiopia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Austria.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Israel.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Uganda.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Mayotte.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Serbia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Zimbabwe.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Democratic_Republic_of_the_Congo.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Kuwait.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_France.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Republic_of_Congo.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Bahrain.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Sao_Tome_and_Principe.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Switzerland.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Guyana.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Guinea-Bissau.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Cayman_Islands.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_Kingdom.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Canada.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Saint-Martin.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Saudi_Arabia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Dominican_Republic.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Northern_Mariana_Islands.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_China.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Luxembourg.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_Arab_Emirates.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Bangladesh.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Botswana.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Ghana.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Timor-Leste.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Turks_and_Caicos_Islands.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Kenya.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_The_Gambia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Slovenia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Slovakia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Saint_Vincent_and_the_Grenadines.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Oman.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Saint_Helena.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Germany.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Bhutan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_French_Polynesia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Martinique.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Cote_d_Ivoire.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Greenland.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Jordan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Pakistan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Croatia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Malawi.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Bulgaria.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_South_Sudan.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_New_Zealand.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Trinidad_and_Tobago.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Tonga.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Libya.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Australia.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Syria.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Vanuatu.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Heard_I_and_McDonald_Islands.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Dem_Rep_Korea.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Gabon.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_Romania.csv',

In [8]:
len(all_csv_files)

6431

In [9]:
type(all_csv_files)

list

In [10]:
all_us_files = list(filter(lambda k: 'United_States' in k, all_csv_files))

In [11]:
all_us_files

['../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_States.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_States.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2015/viirs-snpp_2015_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2015/viirs-snpp_2015_United_States.csv',
 '../wildfire-data/viirs-snpp/2015/viirs-snpp_2015_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/viirs-snpp/2012/viirs-snpp_2012_United_States.csv',
 '../wildfire-data/viirs-snpp/2012/viirs-snpp_2012_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2012/viirs-snpp_2012_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/viirs-snpp/2017/viirs-snpp_2017_United_States.csv',
 '../wildfire-data/viirs-snpp/2017/viirs-snpp_2017_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2019/viirs-snpp_2019_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2019/viirs-snpp_2019_United_States.csv',
 '../wildfire-data/viirs-snpp/2021/viirs-snpp_2021_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/viirs-snpp/2021/viirs-snpp_2021_United_States.csv',
 '../wildfire-data/viirs-snpp/2021/viirs-snpp_2021_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States.csv',
 '../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2018/viirs-snpp_2018_United_States_Virgin_Islands.csv',
 '../wildfire-data/viirs-snpp/2018/viirs-snpp_2018_United_States.csv',
 '../wildfire-data/viirs-snpp/2016/viirs-snpp_2016_United_States.csv',
 '../wildfire-data/modis/2013/modis_2013_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2013/modis_2013_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2013/modis_2013_United_States.csv',
 '../wildfire-data/modis/2014/modis_2014_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2014/modis_2014_United_States.csv',
 '../wildfire-data/modis/2015/modis_2015_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2015/modis_2015_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2015/modis_2015_United_States.csv',
 '../wildfire-data/modis/2012/modis_2012_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2012/modis_2012_United_States.csv',
 '../wildfire-data/modis/2008/modis_2008_United_States.csv',
 '../wildfire-data/modis/2008/modis_2008_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2008/modis_2008_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2001/modis_2001_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2001/modis_2001_United_States.csv',
 '../wildfire-data/modis/2001/modis_2001_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2006/modis_2006_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2006/modis_2006_United_States.csv',
 '../wildfire-data/modis/2006/modis_2006_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2007/modis_2007_United_States.csv',
 '../wildfire-data/modis/2007/modis_2007_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2007/modis_2007_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2000/modis_2000_United_States.csv',
 '../wildfire-data/modis/2009/modis_2009_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2009/modis_2009_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2009/modis_2009_United_States.csv',
 '../wildfire-data/modis/2017/modis_2017_United_States.csv',
 '../wildfire-data/modis/2017/modis_2017_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2010/modis_2010_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2010/modis_2010_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2010/modis_2010_United_States.csv',
 '../wildfire-data/modis/2019/modis_2019_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2019/modis_2019_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2019/modis_2019_United_States.csv',
 '../wildfire-data/modis/2020/modis_2020_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2020/modis_2020_United_States.csv',
 '../wildfire-data/modis/2020/modis_2020_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2018/modis_2018_United_States.csv',
 '../wildfire-data/modis/2018/modis_2018_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2018/modis_2018_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2011/modis_2011_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2011/modis_2011_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2011/modis_2011_United_States.csv',
 '../wildfire-data/modis/2016/modis_2016_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2016/modis_2016_United_States.csv',
 '../wildfire-data/modis/2005/modis_2005_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2005/modis_2005_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2005/modis_2005_United_States.csv',
 '../wildfire-data/modis/2002/modis_2002_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2002/modis_2002_United_States.csv',
 '../wildfire-data/modis/2002/modis_2002_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2003/modis_2003_United_States.csv',
 '../wildfire-data/modis/2003/modis_2003_United_States_Virgin_Islands.csv',
 '../wildfire-data/modis/2003/modis_2003_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2004/modis_2004_United_States.csv',
 '../wildfire-data/modis/2004/modis_2004_United_States_Minor_Outlying_Islands.csv',
 '../wildfire-data/modis/2004/modis_2004_United_States_Virgin_Islands.csv']

In [12]:
all_us_files = list(filter(lambda k: 'United_States.csv' in k, all_csv_files))

In [13]:
all_us_files

['../wildfire-data/viirs-snpp/2013/viirs-snpp_2013_United_States.csv',
 '../wildfire-data/viirs-snpp/2014/viirs-snpp_2014_United_States.csv',
 '../wildfire-data/viirs-snpp/2015/viirs-snpp_2015_United_States.csv',
 '../wildfire-data/viirs-snpp/2012/viirs-snpp_2012_United_States.csv',
 '../wildfire-data/viirs-snpp/2017/viirs-snpp_2017_United_States.csv',
 '../wildfire-data/viirs-snpp/2019/viirs-snpp_2019_United_States.csv',
 '../wildfire-data/viirs-snpp/2021/viirs-snpp_2021_United_States.csv',
 '../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States.csv',
 '../wildfire-data/viirs-snpp/2018/viirs-snpp_2018_United_States.csv',
 '../wildfire-data/viirs-snpp/2016/viirs-snpp_2016_United_States.csv',
 '../wildfire-data/modis/2013/modis_2013_United_States.csv',
 '../wildfire-data/modis/2014/modis_2014_United_States.csv',
 '../wildfire-data/modis/2015/modis_2015_United_States.csv',
 '../wildfire-data/modis/2012/modis_2012_United_States.csv',
 '../wildfire-data/modis/2008/modis_2008_United_States.csv',
 '../wildfire-data/modis/2001/modis_2001_United_States.csv',
 '../wildfire-data/modis/2006/modis_2006_United_States.csv',
 '../wildfire-data/modis/2007/modis_2007_United_States.csv',
 '../wildfire-data/modis/2000/modis_2000_United_States.csv',
 '../wildfire-data/modis/2009/modis_2009_United_States.csv',
 '../wildfire-data/modis/2017/modis_2017_United_States.csv',
 '../wildfire-data/modis/2010/modis_2010_United_States.csv',
 '../wildfire-data/modis/2019/modis_2019_United_States.csv',
 '../wildfire-data/modis/2020/modis_2020_United_States.csv',
 '../wildfire-data/modis/2018/modis_2018_United_States.csv',
 '../wildfire-data/modis/2011/modis_2011_United_States.csv',
 '../wildfire-data/modis/2016/modis_2016_United_States.csv',
 '../wildfire-data/modis/2005/modis_2005_United_States.csv',
 '../wildfire-data/modis/2002/modis_2002_United_States.csv',
 '../wildfire-data/modis/2003/modis_2003_United_States.csv',
 '../wildfire-data/modis/2004/modis_2004_United_States.csv']

In [14]:
df_viirs = pd.read_csv('../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States.csv')

/Users/avkash/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
df_viirs = pd.read_csv('../wildfire-data/viirs-snpp/2020/viirs-snpp_2020_United_States.csv', low_memory=False)

In [16]:
df_viirs

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type
0,46.730213,-92.075386,303.31,0.56,0.52,2020-01-01,727,N,VIIRS,n,1,264.04,1.43,N,3
1,46.729069,-92.077477,301.76,0.56,0.52,2020-01-01,727,N,VIIRS,n,1,263.05,1.27,N,2
2,40.721516,-84.126244,323.46,0.39,0.36,2020-01-01,728,N,VIIRS,n,1,268.47,1.80,N,2
3,41.639717,-87.130882,300.05,0.45,0.39,2020-01-01,728,N,VIIRS,n,1,268.17,1.23,N,3
4,41.619049,-87.328514,297.25,0.46,0.39,2020-01-01,728,N,VIIRS,n,1,268.34,0.82,N,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672445,19.409372,-155.295761,332.17,0.49,0.49,2020-12-31,2306,N,VIIRS,n,1,290.31,3.08,1,0
672446,19.402180,-155.285187,367.00,0.49,0.49,2020-12-31,2306,N,VIIRS,l,1,286.75,26.13,1,0
672447,19.404821,-155.271347,350.90,0.49,0.49,2020-12-31,2306,N,VIIRS,n,1,288.63,67.31,1,0
672448,19.399593,-155.298752,326.91,0.49,0.49,2020-12-31,2306,N,VIIRS,n,1,285.83,4.16,1,0
672449,19.397781,-155.284149,341.50,0.49,0.49,2020-12-31,2306,N,VIIRS,n,1,284.08,6.20,1,0

In [17]:
df_viirs['satellite'].unique()

array(['N'], dtype=object)

In [18]:
df_viirs['instrument'].unique()

array(['VIIRS'], dtype=object)

In [19]:
type(df_viirs.confidence[0])

str

In [20]:
isinstance(df_viirs.confidence[0], str)

True

In [21]:
df_viirs.confidence.unique()

array(['n', 'h', 'l'], dtype=object)

In [22]:
df_modis = pd.read_csv('../wildfire-data/modis/2020/modis_2020_United_States.csv')

In [23]:
df_modis

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,31.8349,-83.0561,306.7,1.4,1.2,2020-01-01,324,Terra,MODIS,69,6.03,277.6,18.9,N,0
1,36.3562,-76.8050,300.2,1.2,1.1,2020-01-01,325,Terra,MODIS,20,6.03,278.9,10.2,N,0
2,33.4178,-110.8616,321.5,1.0,1.0,2020-01-01,920,Aqua,MODIS,100,6.03,271.8,24.9,N,2
3,41.4810,-90.8294,310.0,1.0,1.0,2020-01-01,1704,Terra,MODIS,69,6.03,276.5,13.8,D,0
4,38.6973,-90.1281,311.7,1.1,1.0,2020-01-01,1705,Terra,MODIS,54,6.03,282.3,14.1,D,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153843,38.7099,-122.8631,316.1,1.1,1.1,2020-12-31,2131,Aqua,MODIS,76,6.03,285.8,18.6,D,0
153844,39.7121,-122.2936,300.4,1.2,1.1,2020-12-31,2131,Aqua,MODIS,35,6.03,286.2,5.6,D,0
153845,37.7988,-121.1489,301.3,1.3,1.1,2020-12-31,2131,Aqua,MODIS,46,6.03,281.4,8.6,D,0
153846,39.1593,-122.9303,308.7,1.1,1.1,2020-12-31,2131,Aqua,MODIS,67,6.03,283.3,13.1,D,0
153847,39.7513,-122.3066,322.3,1.2,1.1,2020-12-31,2131,Aqua,MODIS,82,6.03,287.0,26.8,D,0

In [24]:
df_modis['satellite'].unique()

array(['Terra', 'Aqua'], dtype=object)

In [25]:
df_modis['instrument'].unique()

array(['MODIS'], dtype=object)

In [26]:
type(df_modis['confidence'][0])

numpy.int64

In [27]:
df_modis['confidence'].unique()

array([ 69,  20, 100,  54,  38,  60,   0,  70,  78,  46,  57,  83,  82,
        74,  79,  86,  53,  72,  41,  35,  73,  66,  84,  59,  55,  31,
        45,  50,  51,  47,  71,  63,  24,  36,  48,  80,  62,  49,  65,
        75,  67,  52,  58,  56,  93,  94,  64,  68,  61,  85,  90,  81,
        40,  88,  42,  97,  96,  33,  91,  87,  77,  76,  39,  44,  95,
        37,  89,  98,  30,  99,  21,  92,  29,  16,  17,  26,  32,  34,
        43,  25,  22,  19,  28,   9,  27,  23,  15,  13,  14,  18,  11,
        10,   8,  12,   6,   4,   7,   3,   5,   2,   1])

In [28]:
# Taken this idea from the H2O.ai wild fire competition github repo and changed it meet the local need
rows = []
fire_df = []
row_sum = 0
for f in tqdm(all_us_files):
    df = pd.read_csv(f, parse_dates=['acq_time'], low_memory=False) 
    csv_name = f.split('/')[-1]
    row = [
        f, csv_name, df.shape[0], df.shape[1], df.acq_date.min(), df.acq_date.max(),
        df.satellite.unique(), df.instrument.max(), df.version.max(),
        df.latitude.nunique(), df.longitude.nunique(),
        df.confidence.nunique(), df.satellite.nunique(), df.acq_date.nunique()
    ]
    if isinstance(df.confidence[0], str):
        df.confidence = df.confidence.replace({'l': 0, 'n': 50, 'h': 100})
    rows.append(row)
    row_sum = row_sum + df.shape[0]
    fire_df.append(df)
cols = [
    'path', 'csv', 'rows', 'cols', 'start', 'end',
    'satellite', 'instrument', 'version',
    'lats', 'lons', 'confs', 'sats', 'days'
]
filestats = pd.DataFrame(rows, columns=cols)
filestats.sort_values(by=['start', 'instrument'])
print("Total Rows: " + str(row_sum))

100%|| 31/31 [00:16<00:00,  1.89it/s]

,path,csv,rows,cols,start,end,satellite,instrument,version,lats,lons,confs,sats,days
18,../wildfire-data/modis/2000/modis_2000_United_...,modis_2000_United_States.csv,3781,15,2000-11-01,2000-12-31,[Terra],MODIS,6.20,3720,3712,96,1,61
15,../wildfire-data/modis/2001/modis_2001_United_...,modis_2001_United_States.csv,44941,15,2001-01-01,2001-12-31,[Terra],MODIS,6.20,37881,40596,101,1,347
28,../wildfire-data/modis/2002/modis_2002_United_...,modis_2002_United_States.csv,79715,15,2002-01-01,2002-12-31,"[Terra, Aqua]",MODIS,6.20,61851,68094,101,2,355
29,../wildfire-data/modis/2003/modis_2003_United_...,modis_2003_United_States.csv,114471,15,2003-01-01,2003-12-31,"[Terra, Aqua]",MODIS,6.20,81630,93777,101,2,365
30,../wildfire-data/modis/2004/modis_2004_United_...,modis_2004_United_States.csv,158385,15,2004-01-01,2004-12-31,"[Terra, Aqua]",MODIS,6.20,96626,121487,101,2,365
27,../wildfire-data/modis/2005/modis_2005_United_...,modis_2005_United_States.csv,171160,15,2005-01-01,2005-12-31,"[Terra, Aqua]",MODIS,6.20,110486,135665,101,2,365
16,../wildfire-data/modis/2006/modis_2006_United_...,modis_2006_United_States.csv,126737,15,2006-01-01,2006-12-31,"[Terra, Aqua]",MODIS,6.20,88916,103617,101,2,365
17,../wildfire-data/modis/2007/modis_2007_United_...,modis_2007_United_States.csv,142420,15,2007-01-01,2007-12-31,"[Terra, Aqua]",MODIS,6.20,96108,109694,101,2,365
14,../wildfire-data/modis/2008/modis_2008_United_...,modis_2008_United_States.csv,119797,15,2008-01-01,2008-12-31,"[Terra, Aqua]",MODIS,6.20,83666,96357,101,2,366
19,../wildfire-data/modis/2009/modis_2009_United_...,modis_2009_United_States.csv,115174,15,2009-01-01,2009-12-31,"[Terra, Aqua]",MODIS,6.20,83904,96681,101,2,365
21,../wildfire-data/modis/2010/modis_2010_United_...,modis_2010_United_States.csv,98322,15,2010-01-01,2010-12-31,"[Terra, Aqua]",MODIS,6.20,74455,83332,101,2,365
25,../wildfire-data/modis/2011/modis_2011_United_...,modis_2011_United_States.csv,123867,15,2011-01-01,2011-12-31,"[Terra, Aqua]",MODIS,6.20,82884,100149,101,2,365
13,../wildfire-data/modis/2012/modis_2012_United_...,modis_2012_United_States.csv,137295,15,2012-01-01,2012-12-31,"[Terra, Aqua]",MODIS,6.20,92325,108739,101,2,366
3,../wildfire-data/viirs-snpp/2012/viirs-snpp_20...,viirs-snpp_2012_United_States.csv,531867,15,2012-01-20,2012-12-31,[N],VIIRS,1.00,480863,452136,3,1,346
10,../wildfire-data/modis/2013/modis_2013_United_...,modis_2013_United_States.csv,102348,15,2013-01-01,2013-12-31,"[Aqua, Terra]",MODIS,6.20,74626,85736,101,2,365
0,../wildfire-data/viirs-snpp/2013/viirs-snpp_20...,viirs-snpp_2013_United_States.csv,401694,15,2013-01-01,2013-12-31,[N],VIIRS,1.00,369638,353795,3,1,365
11,../wildfire-data/modis/2014/modis_2014_United_...,modis_2014_United_States.csv,98871,15,2014-01-01,2014-12-31,"[Aqua, Terra]",MODIS,6.20,73109,81332,101,2,365
1,../wildfire-data/viirs-snpp/2014/viirs-snpp_20...,viirs-snpp_2014_United_States.csv,373222,15,2014-01-01,2014-12-31,[N],VIIRS,1.00,345829,330246,3,1,364
12,../wildfire-data/modis/2015/modis_2015_United_...,modis_2015_United_States.csv,146984,15,2015-01-01,2015-12-31,"[Terra, Aqua]",MODIS,6.20,101251,118126,101,2,365
2,../wildfire-data/viirs-snpp/2015/viirs-snpp_20...,viirs-snpp_2015_United_States.csv,577122,15,2015-01-01,2015-12-31,[N],VIIRS,1.00,520722,493443,3,1,365
26,../wildfire-data/modis/2016/modis_2016_United_...,modis_2016_United_States.csv,112736,15,2016-01-01,2016-12-31,"[Aqua, Terra]",MODIS,6.20,80047,91825,101,2,366
9,../wildfire-data/viirs-snpp/2016/viirs-snpp_20...,viirs-snpp_2016_United_States.csv,428949,15,2016-01-01,2016-12-31,[N],VIIRS,1.00,394376,375685,3,1,366
20,../wildfire-data/modis/2017/modis_2017_United_...,modis_2017_United_States.csv,152702,15,2017-01-01,2017-12-31,"[Terra, Aqua]",MODIS,6.20,100234,118523,101,2,365
4,../wildfire-data/viirs-snpp/2017/viirs-snpp_20...,viirs-snpp_2017_United_States.csv,593047,15,2017-01-01,2017-12-31,[N],VIIRS,1.00,538578,505480,3,1,365
24,../wildfire-data/modis/2018/modis_2018_United_...,modis_2018_United_States.csv,130986,15,2018-01-01,2018-12-31,"[Terra, Aqua]",MODIS,6.03,87966,100966,101,2,365
8,../wildfire-data/viirs-snpp/2018/viirs-snpp_20...,viirs-snpp_2018_United_States.csv,552123,15,2018-01-01,2018-12-31,[N],VIIRS,1.00,496577,456817,3,1,365
22,../wildfire-data/modis/2019/modis_2019_United_...,modis_2019_United_States.csv,107213,15,2019-01-01,2019-12-31,"[Aqua, Terra]",MODIS,6.03,80248,92764,101,2,365
5,../wildfire-data/viirs-snpp/2019/viirs-snpp_20...,viirs-snpp_2019_United_States.csv,447311,15,2019-01-01,2019-12-31,[N],VIIRS,1.00,407706,402590,3,1,365
23,../wildfire-data/modis/2020/modis_2020_United_...,modis_2020_United_States.csv,153848,15,2020-01-01,2020-12-31,"[Terra, Aqua]",MODIS,6.03,93718,109931,101,2,366
7,../wildfire-data/viirs-snpp/2020/viirs-snpp_20...,viirs-snpp_2020_United_States.csv,672450,15,2020-01-01,2020-12-31,[N],VIIRS,1.00,586894,521973,3,1,366
6,../wildfire-data/viirs-snpp/2021/viirs-snpp_20...,viirs-snpp_2021_United_States.csv,661058,15,2021-01-01,2021-12-31,[N],VIIRS,1.00,584054,510255,3,1,364

Total Rows: 7680596

In [29]:
fire_df

[         latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       33.015182  -79.886269      302.35  0.50   0.66  2013-01-01     0613
 1       28.966951  -81.738235      296.46  0.59   0.70  2013-01-01     0614
 2       46.731281  -92.076927      302.25  0.46   0.39  2013-01-01     0750
 3       41.480541  -90.832298      321.17  0.39   0.36  2013-01-01     0752
 4       33.452900  -82.920937      297.83  0.57   0.52  2013-01-01     0754
 ...           ...         ...         ...   ...    ...         ...      ...
 401689  39.545490 -115.925102      327.62  0.39   0.37  2013-12-31     2035
 401690  38.446827  -96.908493      339.03  0.73   0.76  2013-12-31     2035
 401691  38.449066  -96.910133      342.29  0.73   0.76  2013-12-31     2035
 401692  41.492058 -120.704498      335.88  0.52   0.42  2013-12-31     2036
 401693  43.321976 -123.522713      337.41  0.42   0.45  2013-12-31     2037

        satellite instrument  confidence  version  bright_ti5   frp daynight  \
 0              N      VIIRS          50        1      279.78  1.45        N
 1              N      VIIRS          50        1      281.78  0.73        N
 2              N      VIIRS          50        1      257.34  1.33        N
 3              N      VIIRS          50        1      262.67  2.43        N
 4              N      VIIRS          50        1      277.67  0.58        N
 ...          ...        ...         ...      ...         ...   ...      ...
 401689         N      VIIRS          50        1      278.99  2.20        D
 401690         N      VIIRS          50        1      281.25  7.46        D
 401691         N      VIIRS          50        1      281.25  6.62        D
 401692         N      VIIRS          50        1      286.09  7.42        D
 401693         N      VIIRS          50        1      279.81  8.63        D

         type
 0          2
 1          0
 2          3
 3          2
 4          0
 ...      ...
 401689     0
 401690     0
 401691     0
 401692     0
 401693     0

 [401694 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       39.560658  -77.169441      303.95  0.40   0.37  2014-01-01     0712
 1       40.636753  -74.220612      303.01  0.48   0.40  2014-01-01     0712
 2       39.952835  -76.595207      303.68  0.41   0.37  2014-01-01     0712
 3       39.938808  -76.813057      317.05  0.41   0.37  2014-01-01     0712
 4       40.229626  -76.840134      299.18  0.40   0.37  2014-01-01     0712
 ...           ...         ...         ...   ...    ...         ...      ...
 373217  37.582554 -120.840157      329.62  0.43   0.46  2014-12-31     2137
 373218  37.605770 -120.913216      328.83  0.43   0.46  2014-12-31     2137
 373219  37.604919 -120.911713      335.44  0.43   0.46  2014-12-31     2137
 373220  37.539196 -120.844048      325.36  0.43   0.46  2014-12-31     2137
 373221  36.643803 -119.658562      339.91  0.49   0.48  2014-12-31     2137

        satellite instrument  confidence  version  bright_ti5   frp daynight  \
 0              N      VIIRS          50        1      269.07  1.34        N
 1              N      VIIRS          50        1      274.64  1.51        N
 2              N      VIIRS          50        1      265.69  0.87        N
 3              N      VIIRS          50        1      268.71  2.11        N
 4              N      VIIRS          50        1      268.14  1.36        N
 ...          ...        ...         ...      ...         ...   ...      ...
 373217         N      VIIRS          50        1      284.22  2.58        D
 373218         N      VIIRS          50        1      283.45  5.52        D
 373219         N      VIIRS          50        1      284.69  6.09        D
 373220         N      VIIRS          50        1      283.04  1.30        D
 373221         N      VIIRS          50        1      283.85  3.91        D

         type
 0          2
 1          2
 2          2
 3          2
 4          3
 ...      ...
 373217     0
 373218     0
 373219     0
 373220     0
 373221     0

 [373222 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       40.126335  -80.997078      322.99  0.42   0.61  2015-01-01     0633
 1       40.751339  -81.441330      335.88  0.45   0.63  2015-01-01     0633
 2       39.937538  -76.812614      301.80  0.51   0.49  2015-01-01     0633
 3       36.353794  -76.808060      301.27  0.46   0.47  2015-01-01     0634
 4       37.318413  -82.368004      299.73  0.48   0.65  2015-01-01     0634
 ...           ...         ...         ...   ...    ...         ...      ...
 577117  34.279835 -109.076752      341.52  0.43   0.46  2015-12-31     2046
 577118  35.651077 -120.605408      334.89  0.48   0.40  2015-12-31     2047
 577119  35.962158 -112.155090      342.05  0.48   0.40  2015-12-31     2047
 577120  35.965832 -112.155701      338.68  0.48   0.40  2015-12-31     2047
 577121  48.904709 -122.684242      326.91  0.39   0.36  2015-12-31     2051

        satellite instrument  confidence  version  bright_ti5   frp daynight  \
 0              N      VIIRS          50        1      265.49  3.26        N
 1              N      VIIRS          50        1      264.78  3.99        N
 2              N      VIIRS          50        1      267.25  0.80        N
 3              N      VIIRS          50        1      272.01  1.45        N
 4              N      VIIRS          50        1      267.46  0.89        N
 ...          ...        ...         ...      ...         ...   ...      ...
 577117         N      VIIRS          50        1      283.17  5.39        D
 577118         N      VIIRS          50        1      288.17  4.90        D
 577119         N      VIIRS          50        1      276.36  5.56        D
 577120         N      VIIRS          50        1      274.28  7.17        D
 577121         N      VIIRS          50        1      274.16  2.79        D

         type
 0          0
 1          2
 2          2
 3          2
 4          0
 ...      ...
 577117     0
 577118     0
 577119     0
 577120     0
 577121     0

 [577122 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       40.393394  -79.854332      334.52  0.46   0.63  2012-01-20     0619
 1       39.214512  -76.478729      328.69  0.59   0.53  2012-01-20     0619
 2       39.217484  -76.477531      328.30  0.59   0.53  2012-01-20     0619
 3       35.479481  -76.787148      296.78  0.57   0.52  2012-01-20     0620
 4       36.356388  -76.808456      298.89  0.58   0.52  2012-01-20     0620
 ...           ...         ...         ...   ...    ...         ...      ...
 531862  19.328762 -155.031204      331.98  0.38   0.59  2012-12-31     2251
 531863  19.337179 -155.018036      367.00  0.38   0.58  2012-12-31     2251
 531864  19.334892 -155.028717      351.39  0.38   0.59  2012-12-31     2251
 531865  19.331045 -155.020554      339.05  0.38   0.58  2012-12-31     2251
 531866  19.335659 -155.025162      367.00  0.38   0.58  2012-12-31     2251

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      265.82   5.02        N
 1              N      VIIRS          50        1      271.66   5.20        N
 2              N      VIIRS          50        1      272.87   5.50        N
 3              N      VIIRS          50        1      273.75   1.15        N
 4              N      VIIRS          50        1      275.99   1.21        N
 ...          ...        ...         ...      ...         ...    ...      ...
 531862         N      VIIRS          50        1      289.71   3.81        D
 531863         N      VIIRS         100        1      298.48  10.36        D
 531864         N      VIIRS          50        1      296.43   6.97        D
 531865         N      VIIRS          50        1      287.86   3.84        D
 531866         N      VIIRS         100        1      299.50   9.69        D

         type
 0          2
 1          2
 2          2
 3          0
 4          3
 ...      ...
 531862     3
 531863     0
 531864     0
 531865     3
 531866     0

 [531867 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       42.297718  -83.154816      322.24  0.68   0.74  2017-01-01     0619
 1       42.298908  -83.151909      305.27  0.68   0.74  2017-01-01     0619
 2       42.297699  -83.172066      298.61  0.68   0.74  2017-01-01     0619
 3       42.257187  -83.135468      302.84  0.68   0.74  2017-01-01     0619
 4       42.298943  -83.160439      306.00  0.68   0.74  2017-01-01     0619
 ...           ...         ...         ...   ...    ...         ...      ...
 593042  19.382727 -155.065659      350.70  0.44   0.46  2017-12-31     2357
 593043  19.378485 -155.064972      367.00  0.44   0.46  2017-12-31     2357
 593044  19.384449 -155.087982      352.94  0.44   0.46  2017-12-31     2357
 593045  19.382225 -155.069977      367.00  0.44   0.46  2017-12-31     2357
 593046  19.384958 -155.083618      337.92  0.44   0.46  2017-12-31     2357

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      268.95   3.00        N
 1              N      VIIRS          50        1      267.87   2.57        N
 2              N      VIIRS          50        1      268.04   4.06        N
 3              N      VIIRS          50        1      268.40   2.01        N
 4              N      VIIRS          50        1      270.70   2.57        N
 ...          ...        ...         ...      ...         ...    ...      ...
 593042         N      VIIRS          50        1      315.34  14.44        D
 593043         N      VIIRS         100        1      316.18  24.19        D
 593044         N      VIIRS          50        1      327.09  40.19        D
 593045         N      VIIRS         100        1      320.78  14.44        D
 593046         N      VIIRS          50        1      308.99  40.19        D

         type
 0          2
 1          2
 2          2
 3          2
 4          2
 ...      ...
 593042     0
 593043     0
 593044     0
 593045     0
 593046     0

 [593047 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       39.442356  -78.593529      303.97  0.51   0.50  2019-01-01     0633
 1       36.229572  -76.331787      297.75  0.54   0.42  2019-01-01     0634
 2       35.164753  -78.014725      302.29  0.43   0.46  2019-01-01     0634
 3       32.466473  -81.363434      304.59  0.62   0.54  2019-01-01     0635
 4       33.013569  -79.887283      327.08  0.51   0.50  2019-01-01     0635
 ...           ...         ...         ...   ...    ...         ...      ...
 447306  42.768929 -123.220657      343.06  0.42   0.38  2019-12-31     2053
 447307  42.765507 -123.219635      335.40  0.42   0.38  2019-12-31     2053
 447308  42.875229 -122.922440      332.39  0.41   0.37  2019-12-31     2053
 447309  43.456131 -121.759857      342.97  0.39   0.36  2019-12-31     2053
 447310  43.905331 -120.476898      334.09  0.38   0.36  2019-12-31     2053

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      277.29   1.77        N
 1              N      VIIRS          50        1      280.70   0.33        N
 2              N      VIIRS          50        1      277.23   0.24        N
 3              N      VIIRS          50        1      286.79   1.24        N
 4              N      VIIRS          50        1      284.94   2.79        N
 ...          ...        ...         ...      ...         ...    ...      ...
 447306         N      VIIRS          50        1      278.66  12.12        D
 447307         N      VIIRS          50        1      280.60   7.25        D
 447308         N      VIIRS          50        1      283.71   2.67        D
 447309         N      VIIRS          50        1      280.55   5.74        D
 447310         N      VIIRS          50        1      276.47   3.24        D

         type
 0          0
 1          0
 2          0
 3          0
 4          2
 ...      ...
 447306     0
 447307     0
 447308     0
 447309     0
 447310     0

 [447311 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       43.476295  -71.587440      297.23  0.48   0.40  2021-01-01     0624
 1       43.246197  -72.420631      298.24  0.52   0.42  2021-01-01     0624
 2       40.890423  -77.711998      318.41  0.59   0.53  2021-01-01     0624
 3       39.589787  -75.633263      295.77  0.44   0.46  2021-01-01     0624
 4       27.574802  -81.772072      298.91  0.37   0.58  2021-01-01     0624
 ...           ...         ...         ...   ...    ...         ...      ...
 661053  29.796158  -90.769928      333.09  0.40   0.37  2021-12-31     1900
 661054  29.784075  -91.766235      326.32  0.42   0.38  2021-12-31     1900
 661055  40.144726 -101.530975      342.62  0.51   0.50  2021-12-31     1906
 661056  38.554855 -122.550667      334.54  0.52   0.41  2021-12-31     2042
 661057  45.228741 -123.162697      329.69  0.43   0.38  2021-12-31     2048

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      269.23   0.68        N
 1              N      VIIRS          50        1      267.55   1.06        N
 2              N      VIIRS          50        1      269.67   3.09        N
 3              N      VIIRS          50        1      276.95   1.78        N
 4              N      VIIRS          50        1      284.31   0.51        N
 ...          ...        ...         ...      ...         ...    ...      ...
 661053         N      VIIRS          50        1      299.65  11.39        D
 661054         N      VIIRS          50        1      295.23   3.28        D
 661055         N      VIIRS          50        1      277.59   7.29        D
 661056         N      VIIRS          50        1      281.30   8.67        D
 661057         N      VIIRS          50        1      281.14   4.98        D

         type
 0          0
 1          0
 2          2
 3          2
 4          0
 ...      ...
 661053     0
 661054     0
 661055     0
 661056     0
 661057     2

 [661058 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       46.730213  -92.075386      303.31  0.56   0.52  2020-01-01     0727
 1       46.729069  -92.077477      301.76  0.56   0.52  2020-01-01     0727
 2       40.721516  -84.126244      323.46  0.39   0.36  2020-01-01     0728
 3       41.639717  -87.130882      300.05  0.45   0.39  2020-01-01     0728
 4       41.619049  -87.328514      297.25  0.46   0.39  2020-01-01     0728
 ...           ...         ...         ...   ...    ...         ...      ...
 672445  19.409372 -155.295761      332.17  0.49   0.49  2020-12-31     2306
 672446  19.402180 -155.285187      367.00  0.49   0.49  2020-12-31     2306
 672447  19.404821 -155.271347      350.90  0.49   0.49  2020-12-31     2306
 672448  19.399593 -155.298752      326.91  0.49   0.49  2020-12-31     2306
 672449  19.397781 -155.284149      341.50  0.49   0.49  2020-12-31     2306

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      264.04   1.43        N
 1              N      VIIRS          50        1      263.05   1.27        N
 2              N      VIIRS          50        1      268.47   1.80        N
 3              N      VIIRS          50        1      268.17   1.23        N
 4              N      VIIRS          50        1      268.34   0.82        N
 ...          ...        ...         ...      ...         ...    ...      ...
 672445         N      VIIRS          50        1      290.31   3.08        1
 672446         N      VIIRS           0        1      286.75  26.13        1
 672447         N      VIIRS          50        1      288.63  67.31        1
 672448         N      VIIRS          50        1      285.83   4.16        1
 672449         N      VIIRS          50        1      284.08   6.20        1

         type
 0          3
 1          2
 2          2
 3          3
 4          3
 ...      ...
 672445     0
 672446     0
 672447     0
 672448     0
 672449     0

 [672450 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       41.467583  -83.365883      321.32  0.43   0.38  2018-01-01     0716
 1       40.395264  -79.857147      329.87  0.39   0.36  2018-01-01     0716
 2       41.660519  -87.424576      297.55  0.42   0.45  2018-01-01     0716
 3       41.638611  -87.144012      321.14  0.41   0.45  2018-01-01     0716
 4       41.681416  -87.421059      298.91  0.42   0.45  2018-01-01     0716
 ...           ...         ...         ...   ...    ...         ...      ...
 552118  36.496708 -119.602585      345.06  0.60   0.53  2018-12-31     2136
 552119  42.847439 -124.086708      334.68  0.41   0.45  2018-12-31     2137
 552120  42.847839 -124.082092      336.93  0.41   0.45  2018-12-31     2137
 552121  42.846310 -124.085411      337.47  0.41   0.45  2018-12-31     2137
 552122  47.348656 -120.311203      326.13  0.35   0.56  2018-12-31     2139

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      261.53   2.89        N
 1              N      VIIRS          50        1      261.97   3.85        N
 2              N      VIIRS          50        1      257.88   1.38        N
 3              N      VIIRS          50        1      260.90   4.35        N
 4              N      VIIRS          50        1      261.50   0.89        N
 ...          ...        ...         ...      ...         ...    ...      ...
 552118         N      VIIRS          50        1      287.59  18.91        D
 552119         N      VIIRS          50        1      278.48   6.84        D
 552120         N      VIIRS          50        1      276.68   6.84        D
 552121         N      VIIRS          50        1      279.79   5.62        D
 552122         N      VIIRS          50        1      274.00   2.00        D

         type
 0          2
 1          2
 2          3
 3          3
 4          3
 ...      ...
 552118     0
 552119     0
 552120     0
 552121     0
 552122     0

 [552123 rows x 15 columns],
          latitude   longitude  bright_ti4  scan  track    acq_date acq_time  \
 0       19.426895 -155.093399      342.91  0.55   0.51  2016-01-01     0005
 1       19.423386 -155.082001      352.74  0.55   0.51  2016-01-01     0005
 2       19.422171 -155.092911      351.78  0.55   0.51  2016-01-01     0005
 3       19.433453 -155.077606      332.57  0.55   0.51  2016-01-01     0005
 4       19.428722 -155.077087      329.71  0.55   0.51  2016-01-01     0005
 ...           ...         ...         ...   ...    ...         ...      ...
 428944  38.830360 -122.698105      331.48  0.47   0.40  2016-12-31     2124
 428945  39.881924 -121.968781      326.63  0.52   0.41  2016-12-31     2124
 428946  39.885735 -121.969460      328.92  0.52   0.41  2016-12-31     2124
 428947  38.832943 -122.675453      342.51  0.47   0.40  2016-12-31     2124
 428948  45.910084 -120.897163      335.20  0.45   0.47  2016-12-31     2126

        satellite instrument  confidence  version  bright_ti5    frp daynight  \
 0              N      VIIRS          50        1      291.12   9.77        D
 1              N      VIIRS          50        1      297.03  11.78        D
 2              N      VIIRS          50        1      307.37   9.77        D
 3              N      VIIRS          50        1      291.22   7.47        D
 4              N      VIIRS          50        1      290.09  13.41        D

In [30]:
us_fire_df = pd.concat(fire_df)
us_fire_df.shape

(7680596, 17)

In [31]:
us_fire_df.sample(10)

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type,brightness,bright_t31
87936,36.719418,-95.345490,367.00,0.42,0.38,2016-03-25,1911,N,VIIRS,100,1.0,338.68,94.73,D,0,NaN,NaN
31025,41.566135,-84.043869,329.68,0.39,0.36,2017-02-14,0735,N,VIIRS,50,1.0,256.05,3.24,N,2,NaN,NaN
505025,41.461990,-123.359352,303.63,0.72,0.76,2021-09-06,0854,N,VIIRS,50,1.0,290.27,5.27,N,0,NaN,NaN
458505,37.033253,-119.345825,341.85,0.57,0.69,2020-09-14,2154,N,VIIRS,50,1.0,298.13,49.31,1,0,NaN,NaN
515825,47.353004,-120.269852,331.71,0.46,0.39,2015-10-13,2032,N,VIIRS,50,1.0,298.12,5.06,D,0,NaN,NaN
486928,36.469135,-94.034729,333.30,0.38,0.36,2012-10-29,1914,N,VIIRS,50,1.0,287.79,5.18,D,0,NaN,NaN
60584,46.148500,-116.913500,NaN,2.50,1.50,2007-07-17,0502,Terra,MODIS,31,6.2,NaN,18.30,N,0,305.3,294.2
172181,41.626892,-87.364723,302.80,0.37,0.58,2016-06-05,0658,N,VIIRS,50,1.0,286.09,0.69,N,2,NaN,NaN
78208,40.702600,-123.202700,NaN,1.00,1.00,2008-08-08,0614,Terra,MODIS,36,6.2,NaN,6.50,N,0,306.9,291.8
97849,38.037037,-95.355209,346.31,0.52,0.67,2016-04-02,1821,N,VIIRS,50,1.0,294.18,30.07,D,0,NaN,NaN

In [32]:
us_fire_df = us_fire_df.sort_values(by=['acq_date', 'acq_time'])

In [33]:
us_fire_df

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type,brightness,bright_t31
0,38.542200,-78.304700,NaN,2.80,1.60,2000-11-01,0250,Terra,MODIS,23,6.2,NaN,40.30,N,0,304.8,280.9
1,38.556300,-78.308400,NaN,2.80,1.60,2000-11-01,0250,Terra,MODIS,70,6.2,NaN,54.50,N,0,309.4,280.4
2,38.545100,-78.310700,NaN,2.80,1.60,2000-11-01,0250,Terra,MODIS,79,6.2,NaN,58.80,N,0,309.9,280.7
3,38.558600,-78.317000,NaN,2.80,1.60,2000-11-01,0250,Terra,MODIS,45,6.2,NaN,36.00,N,0,302.3,279.8
4,31.339300,-89.912400,NaN,1.00,1.00,2000-11-01,0427,Terra,MODIS,62,6.2,NaN,8.50,N,0,304.9,287.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661053,29.796158,-90.769928,333.09,0.40,0.37,2021-12-31,1900,N,VIIRS,50,1.0,299.65,11.39,D,0,NaN,NaN
661054,29.784075,-91.766235,326.32,0.42,0.38,2021-12-31,1900,N,VIIRS,50,1.0,295.23,3.28,D,0,NaN,NaN
661055,40.144726,-101.530975,342.62,0.51,0.50,2021-12-31,1906,N,VIIRS,50,1.0,277.59,7.29,D,0,NaN,NaN
661056,38.554855,-122.550667,334.54,0.52,0.41,2021-12-31,2042,N,VIIRS,50,1.0,281.30,8.67,D,0,NaN,NaN
661057,45.228741,-123.162697,329.69,0.43,0.38,2021-12-31,2048,N,VIIRS,50,1.0,281.14,4.98,D,2,NaN,NaN

In [34]:
us_fire_df['confidence'].nunique()

101

In [35]:
us_fire_df['confidence'].unique()

array([ 23,  70,  79,  45,  62,  75,  74,  54,  69,  77,  72,  49,  36,
        43,  52,  21,  63,  57,  68,  67,   0,  56,  96,  98, 100,  95,
        42,  73,  91,  92,  41,  26,  53,  88,  81,  51,  61,  59,  60,
        76,  71,  46,  47,  82,  50,  65,  83,  55,  22,  58,  97,  90,
        87,  86,  66,  34,  84,  78,  44,  80,  89,  29,  85,  37,  24,
        64,  94,  48,  31,  18,  32,  93,  33,  39,  19,  10,  30,   4,
        13,   2,  99,  40,  28,  20,  38,  27,  35,  17,   7,  16,  14,
         9,   8,  15,  12,  25,  11,   6,   5,   3,   1])

# Brightness #
- brightness: Channel 21/22 brightness temperature of the fire pixel measured in Kelvin.

In [36]:
us_fire_df['brightness'].describe()

count    2.441753e+06
mean     3.255319e+02
std      2.383604e+01
min      3.000000e+02
25%      3.103000e+02
50%      3.190000e+02
75%      3.329000e+02
max      5.070000e+02
Name: brightness, dtype: float64

## Satellite ##

In [37]:
us_fire_df['satellite'].unique()

array(['Terra', 'Aqua', 'N'], dtype=object)

In [38]:
us_fire_df['instrument'].unique()

array(['MODIS', 'VIIRS'], dtype=object)

## bright_t31 ##
- Channel 31 brightness temperature of the fire pixel measured in Kelvin.

In [39]:
us_fire_df['bright_t31'].describe()

count    2.441753e+06
mean     2.953714e+02
std      9.574688e+00
min      2.643000e+02
25%      2.898000e+02
50%      2.950000e+02
75%      3.003000e+02
max      4.001000e+02
Name: bright_t31, dtype: float64

In [40]:
us_fire_df['bright_t31'].unique()

array([280.9, 280.4, 280.7, ..., 381.8, 363.8, 360.9])

## frp ##
- Fire Radiative Power depicts the pixel-integrated fire radiative power in MW (megawatts).

In [41]:
us_fire_df['frp'].describe()

count    7.680596e+06
mean     3.049063e+01
std      1.252634e+02
min     -5.920000e+01
25%      2.560000e+00
50%      7.300000e+00
75%      2.130000e+01
max      1.614640e+04
Name: frp, dtype: float64

## type ##
- Inferred hot spot type
  - 0 = presumed vegetation fire
  - 1 = active volcano
  - 2 = other static land source
  - 3 = offshore

In [42]:
us_fire_df['type'].unique()

array([0, 2, 3, 1])

## Confidence ##
- This value is based on a collection of intermediate algorithm quantities used in the detection process. 
- It is intended to help users gauge the quality of individual hotspot/fire pixels. 
- Confidence estimates range between 0 and 100% and are assigned one of the three fire classes
  - low-confidence fire
  - nominal-confidence fire
  - high-confidence fire).

In [43]:
us_fire_df['confidence'].unique()

array([ 23,  70,  79,  45,  62,  75,  74,  54,  69,  77,  72,  49,  36,
        43,  52,  21,  63,  57,  68,  67,   0,  56,  96,  98, 100,  95,
        42,  73,  91,  92,  41,  26,  53,  88,  81,  51,  61,  59,  60,
        76,  71,  46,  47,  82,  50,  65,  83,  55,  22,  58,  97,  90,
        87,  86,  66,  34,  84,  78,  44,  80,  89,  29,  85,  37,  24,
        64,  94,  48,  31,  18,  32,  93,  33,  39,  19,  10,  30,   4,
        13,   2,  99,  40,  28,  20,  38,  27,  35,  17,   7,  16,  14,
         9,   8,  15,  12,  25,  11,   6,   5,   3,   1])

In [44]:
us_fire_df.columns

Index(['latitude', 'longitude', 'bright_ti4', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_ti5', 'frp', 'daynight', 'type', 'brightness', 'bright_t31'],
      dtype='object')

## Extracting few main feautures from the dataset ##

In [45]:
daily_fires_df = us_fire_df.groupby(
            ['latitude', 'longitude', 'acq_date', 'satellite', 'instrument', 'frp', 'type', 'bright_t31']).confidence.max().reset_index()

In [46]:
daily_fires_df

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence
0,18.9325,-155.6619,2005-05-24,Aqua,MODIS,12.6,0,296.6,0
1,18.9464,-155.6658,2003-07-18,Aqua,MODIS,426.6,0,313.7,94
2,18.9478,-155.6555,2003-07-18,Aqua,MODIS,1330.3,0,333.7,87
3,18.9492,-155.6451,2003-07-18,Aqua,MODIS,111.8,0,310.0,0
4,18.9557,-155.6673,2003-07-18,Aqua,MODIS,260.6,0,311.4,100
...,...,...,...,...,...,...,...,...,...
2441748,70.3157,-148.7467,2019-09-06,Terra,MODIS,39.0,0,285.5,0
2441749,70.3201,-148.5162,2019-07-23,Aqua,MODIS,6.1,0,287.5,0
2441750,70.3211,-148.5288,2019-09-06,Aqua,MODIS,0.0,0,302.8,100
2441751,70.3270,-158.1143,2002-09-22,Terra,MODIS,90.8,0,268.2,76
2441752,70.4565,-149.4489,2003-07-10,Terra,MODIS,14.3,0,273.5,50

In [47]:
daily_fires_df = daily_fires_df[daily_fires_df.confidence >= 50]

In [48]:
daily_fires_df['confidence'].unique()

array([ 94,  87, 100,  75,  86,  85,  69,  74,  60,  55,  56,  53,  70,
        82,  66,  72,  65,  59,  57,  89,  91,  67,  71,  54,  61,  92,
        77,  81,  63,  51,  90,  98,  58,  78,  68,  95,  73,  50,  99,
        97,  96,  80,  84,  83,  64,  62,  79,  76,  88,  93,  52])

In [49]:
daily_fires_df

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence
1,18.9464,-155.6658,2003-07-18,Aqua,MODIS,426.6,0,313.7,94
2,18.9478,-155.6555,2003-07-18,Aqua,MODIS,1330.3,0,333.7,87
4,18.9557,-155.6673,2003-07-18,Aqua,MODIS,260.6,0,311.4,100
5,18.9571,-155.6570,2003-07-18,Aqua,MODIS,1086.8,0,333.6,100
6,18.9585,-155.6466,2003-07-18,Aqua,MODIS,355.2,0,323.0,94
...,...,...,...,...,...,...,...,...,...
2441743,70.2162,-159.6799,2016-09-09,Terra,MODIS,13.6,0,282.3,58
2441746,70.2836,-149.8928,2003-09-09,Terra,MODIS,39.3,0,273.7,100
2441750,70.3211,-148.5288,2019-09-06,Aqua,MODIS,0.0,0,302.8,100
2441751,70.3270,-158.1143,2002-09-22,Terra,MODIS,90.8,0,268.2,76
2441752,70.4565,-149.4489,2003-07-10,Terra,MODIS,14.3,0,273.5,50

In [50]:
daily_fires_df.to_csv('usa_daily_fire_2012_2021.csv.gz', index=False, compression='gzip')

In [66]:
daily_fires_df['acq_date'].min()

'2000-11-01'

In [67]:
daily_fires_df['acq_date'].max()

'2020-12-31'

### California longitude and latitude range ###
- https://www.netstate.com/states/geography/ca_geography.htm
- Longitude: 114 8' W to 124 24' W
- Latitude: 32 30' N to 42 N

In [51]:
CA_LATTITUDE_RANGE = (32, 42)
# We have to change [114, 124] to range as [-124, -114]
CA_LONGITUDE_RANGE = (-124, -114)

In [52]:
ca_daily_fire = daily_fires_df[
        (daily_fires_df.latitude > CA_LATTITUDE_RANGE[0]) & (daily_fires_df.latitude < CA_LATTITUDE_RANGE[1])]

In [53]:
print(ca_daily_fire.shape)
ca_daily_fire.sample(10)

(933973, 9)

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence
743249,33.4887,-80.9967,2011-03-02,Aqua,MODIS,10.3,0,295.1,60
1070129,35.9689,-101.6678,2004-10-18,Aqua,MODIS,21.9,0,301.0,77
1495425,39.9136,-122.6223,2020-08-20,Terra,MODIS,60.2,0,299.4,100
682354,33.1362,-92.7673,2005-07-19,Aqua,MODIS,13.2,0,302.6,77
515047,32.0313,-93.5244,2007-09-29,Aqua,MODIS,46.3,0,301.9,88
1168830,36.7286,-96.4579,2005-04-16,Terra,MODIS,63.0,0,301.1,93
828875,34.0916,-116.9917,2020-09-07,Terra,MODIS,241.8,0,307.1,90
1400694,38.8689,-120.5433,2014-09-17,Terra,MODIS,233.3,0,300.2,84
1121121,36.3317,-118.4163,2020-10-07,Terra,MODIS,13.6,0,284.3,82
1118898,36.3150,-96.2712,2019-03-28,Terra,MODIS,12.3,0,286.7,66

In [54]:
ca_daily_fire = ca_daily_fire[
    (ca_daily_fire.longitude > CA_LONGITUDE_RANGE[0]) & (ca_daily_fire.longitude < CA_LONGITUDE_RANGE[1])]

In [55]:
ca_daily_fire

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence
576870,32.4646,-114.6906,2011-06-29,Terra,MODIS,91.1,0,315.7,84
578656,32.4768,-114.6785,2011-10-11,Terra,MODIS,96.2,0,313.7,100
581181,32.4937,-114.7856,2013-02-06,Terra,MODIS,26.9,0,296.1,65
581909,32.4987,-114.7985,2010-02-04,Terra,MODIS,22.2,0,282.9,62
582191,32.5006,-114.7929,2009-07-08,Aqua,MODIS,172.0,0,316.4,78
...,...,...,...,...,...,...,...,...,...
1671420,41.9998,-121.0237,2014-11-12,Aqua,MODIS,24.6,0,274.4,77
1671421,41.9998,-120.7090,2012-08-13,Terra,MODIS,74.1,0,310.7,97
1671422,41.9998,-114.9167,2007-07-20,Aqua,MODIS,35.7,0,321.8,91
1671429,41.9999,-123.5675,2018-07-30,Terra,MODIS,18.2,0,295.8,62
1671430,41.9999,-114.9300,2007-07-21,Aqua,MODIS,276.1,0,317.5,94

In [56]:
ca_daily_fire.describe()

,latitude,longitude,frp,type,bright_t31,confidence
count,221183.000000,221183.000000,221183.000000,221183.000000,221183.000000,221183.000000
mean,38.218017,-120.263418,137.750609,0.010991,299.375297,83.162490
std,2.536727,2.395738,353.842116,0.150897,12.301854,16.044658
min,32.464600,-123.999700,0.000000,0.000000,265.300000,50.000000
25%,36.280050,-122.345450,19.900000,0.000000,291.500000,70.000000
50%,38.660300,-120.495900,43.100000,0.000000,297.600000,86.000000
75%,40.319500,-118.776300,110.100000,0.000000,305.600000,100.000000
max,41.999900,-114.000100,11944.200000,3.000000,400.100000,100.000000

In [57]:
ca_daily_fire['acq_date'] = pd.to_datetime(ca_daily_fire['acq_date'])

In [58]:
ca_daily_fire

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence
576870,32.4646,-114.6906,2011-06-29,Terra,MODIS,91.1,0,315.7,84
578656,32.4768,-114.6785,2011-10-11,Terra,MODIS,96.2,0,313.7,100
581181,32.4937,-114.7856,2013-02-06,Terra,MODIS,26.9,0,296.1,65
581909,32.4987,-114.7985,2010-02-04,Terra,MODIS,22.2,0,282.9,62
582191,32.5006,-114.7929,2009-07-08,Aqua,MODIS,172.0,0,316.4,78
...,...,...,...,...,...,...,...,...,...
1671420,41.9998,-121.0237,2014-11-12,Aqua,MODIS,24.6,0,274.4,77
1671421,41.9998,-120.7090,2012-08-13,Terra,MODIS,74.1,0,310.7,97
1671422,41.9998,-114.9167,2007-07-20,Aqua,MODIS,35.7,0,321.8,91
1671429,41.9999,-123.5675,2018-07-30,Terra,MODIS,18.2,0,295.8,62
1671430,41.9999,-114.9300,2007-07-21,Aqua,MODIS,276.1,0,317.5,94

In [59]:
ca_daily_fire['year'] = ca_daily_fire.acq_date.dt.year

In [60]:
ca_daily_fire['month'] = ca_daily_fire.acq_date.dt.month

In [61]:
ca_daily_fire

,latitude,longitude,acq_date,satellite,instrument,frp,type,bright_t31,confidence,year,month
576870,32.4646,-114.6906,2011-06-29,Terra,MODIS,91.1,0,315.7,84,2011,6
578656,32.4768,-114.6785,2011-10-11,Terra,MODIS,96.2,0,313.7,100,2011,10
581181,32.4937,-114.7856,2013-02-06,Terra,MODIS,26.9,0,296.1,65,2013,2
581909,32.4987,-114.7985,2010-02-04,Terra,MODIS,22.2,0,282.9,62,2010,2
582191,32.5006,-114.7929,2009-07-08,Aqua,MODIS,172.0,0,316.4,78,2009,7
...,...,...,...,...,...,...,...,...,...,...,...
1671420,41.9998,-121.0237,2014-11-12,Aqua,MODIS,24.6,0,274.4,77,2014,11
1671421,41.9998,-120.7090,2012-08-13,Terra,MODIS,74.1,0,310.7,97,2012,8
1671422,41.9998,-114.9167,2007-07-20,Aqua,MODIS,35.7,0,321.8,91,2007,7
1671429,41.9999,-123.5675,2018-07-30,Terra,MODIS,18.2,0,295.8,62,2018,7
1671430,41.9999,-114.9300,2007-07-21,Aqua,MODIS,276.1,0,317.5,94,2007,7

In [62]:
ca_daily_fire['acq_date'].min()

Timestamp('2000-11-01 00:00:00')

In [63]:
ca_daily_fire['acq_date'].max()

Timestamp('2020-12-31 00:00:00')

In [68]:
ca_daily_fire.to_csv('ca_daily_fire_2000_2021.csv', index=False)
#ca_daily_fire.to_csv('ca_daily_fire_2012_2020.csv.gz', index=False, compression='gzip')